@charset "utf-8";
/* CSS Document */

/* Fondo radial */

.ui-datepicker-year {
    padding-left: 10px;
    background-color: #e9e9e9;
    border: none;
}



.navbar-collapse {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #b7b7b7;
    }


.group-standings table {
    float: left;

}

.table-big-light {
text-transform: uppercase;
    float: left;

}

table {
    border-collapse: collapse;
}

.group-standings td:first-child, .group-standings td:first-child {
    width: 120px;
    white-space: normal;
}

.group-standings td:first-child, .group-standings td:first-child a:hover{
    color: #DC4C46;
}

.group-standings td:first-child, .group-standings td:first-child a{
    color: grey;
    font-weight: 600;
}



.table-big-light th:first-child {
    text-align: left
}

.group-standings .group-name {
    font-size: 70px;
    vertical-align: bottom;
    color: white;
    background-color: #E1CAC9;

}

.group-standings td, .group-standings th {
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #bdc2ca;
    white-space: nowrap;
    text-align: center;

}

.group-standings td, .group-standings th4 group4 {
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #bdc2ca;
    white-space: nowrap;
}

.group-standings th {
    background: none;
}

.group-standings .group-name div, .group-standings .rotate div {
    position: relative;
    height: 100%;
}

dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.bargraph {
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	}

	ul.bargraph li {
    height: 15px;
    background: #DC4C46;
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 5px;
    }

.page-item.active .page-link {
    background-color: #DC4C46;
    border-color: #DC4C46;
}

.page-link {
    color: #DC4C46;
}

.result {
	border-color: #ededed; font-weight: bold; border-right: none; border-left: none; border-top: none; width: 33.33%;
}

.result:hover{
	background: #fafafa;
}

.clip {
   clip-path: inset(-60px -350px 90px 0px);
   z-index: 5;
}



.group-standings .rotate span {
    width: 200px;
    margin-bottom: 12px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -100px;
}

.btn {
font-size: 12px;
}


.group-standings .group-name .group-vertical, .group-standings .rotate .group-vertical {
    display: block;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg);
    color: grey;
}

.group-standings .group-name .group-vertical, .group-standings .rotate .group-vertical a:hover{
    color: #DC4C46;
}

.group-standings .group-name .group-vertical, .group-standings .rotate .group-vertical a{
    color: grey;
}

.group-standings .not-applicable {
    background: #f3f3f3;
    overflow: hidden;
    font-weight: 600;
}


.group-standings .group-name span {
    font-size: 23px;
    bottom: 36px;
}



.group-standings .group-name div {
    font-size: 54px;
    /*padding-left: 32px;*/
    line-height: 1;
    color: white;
        text-align: center;

}

.group-standings .rotate {
    height: 150px;
}

.card .
.card .user-tournamentlist{
    position: relative;
    height: 70px;
    width: 70px;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    margin: -10px 0 0 0;
}

.card .user-tournamentlist img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    max-width: 85%;
    padding: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}

.card .user-tournament img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    max-width: 85%;
    padding: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}


.module {
  background: white;
  border: 1px solid #ccc;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe-7 {
  color: white;
  background: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px,
    #4b026f 20px
  );
}

/* Etiquetas de categorías */

.label {
    color: white;
    padding: 4px 0px;
	margin-right: 8px;
	text-align: center;
	font-size: 12px;
	cursor:pointer;
}
.label,a:hover { text-decoration: none }

.men {background-color: #2196F3} /* blue */
.women {background-color: #FF9292}/* pink */
.senior {background-color: #e7e7e7} /* grey */
.junior {background-color: #ff9800} /* blue */
.mixed {background-color: #ccc} /* grey */
.info {background-color: #bbb} /* grey */

.label.matches {
    color: grey;
	margin: 8px;
	text-align: center;
	font-size: 12px;
	cursor:pointer;
}

button.accordion {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: thin;
	margin-top: 5px;
    outline: none;
    transition: 0.4s;
	text-transform: uppercase;
	
}

.card .button_message {
margin-top: 20px;
margin-bottom: 20px;
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ededed;
}

/* Style the accordion panel. Note: hidden by default */
.active {
    border: none;
    border-bottom: none;
    color: #DC4C46;
	max-height: 100%;
}

.panel {
    width: 100%;
	height: inherit;
	position: relative;
			/*border-top: thick solid #fff;    */
	overflow: hidden;
    transition: 0.2s ease-out; 
	margin-top: px;

}

ul { padding: 0; margin: 0; list-style: none;
}


.accordion:after {
    /*content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: black;
    float: right;
    margin-left: 5px;
}

.accordion .active:after {
    /*content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.activador{
	float: right; 
	height: 20px; }


.teams_title{
	width: 100%;
	padding: 0 0 10px 0px;
	vertical-align: middle;
	float: left;
}

.teams_title .col1 {
    width: 4%;
	float: left;
	height: 20px;}

.teams_title .col2 {
    width: 21%;
    float: left; 
	vertical-align: middle;}

.teams_title .col3 {
    width: 22%;
    float: left; 
	vertical-align: middle;}

.teams{
	width: 100%;
	vertical-align: middle;
	float: left;
	/*margin-left: 15px;*/
	height: 52px;
	border-bottom: medium;
}

.teams:hover{
	background: #fafafa;
}

.hr{
 margin-top: 0px;
 margin-bottom: 5px;
 padding-left: -40px;
 border-top: 1px solid rgba(238,238,238,1.00);
}

.flag {
    width: 25px;
	position: absolute;
	vertical-align: middle;
	margin-top: 15px;
	margin-left: 10px;
}

.picture {
	border-radius: 50%;
	width: 100%;
	border-radius: 150px;
	max-height: 40px;
	max-width: 40px;
	float: right;
	margin-right: 8px;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.text_player{
	width: 50%;
	color: grey;
	font-weight: 200;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 12px;
	text-transform: none;
	top: 15px;
}
.line1 {
	position:absolute;
	background:pink;
	height:20%;
	width:1%;
	right:25%;
	bottom:0;
}

.line2 {
	position:absolute;
	background:rgba(0,135,230,0.60);
	height:20%;
	width:1%;
	right:22%;
	bottom:0;
}

.line3 {
	position:absolute;
	background:pink;
	height:20%;
	width:1%;
	right:19%;
	bottom:0;
}

.line4 {
	position:absolute;
	background:rgba(0,135,230,0.60);
	height:20%;
	width:1%;
	right:16%;
	bottom:0;
}

.line5 {
	position:absolute;
	background:pink;
	height:20%;
	width:1%;
	right:13%;
	bottom:0;
}

.line6 {
	position:absolute;
	background:rgba(0,135,230,0.60);
	height:20%;
	width:1%;
	right:10%;
	bottom:0;
}


.category_setcard {
	width: 40px;
	padding-top: 10px;
	
}

.activador:active {
	float: right; 
	height: 24px; 
}
	

.logo_setcard {
	max-height: 25px;
	position: absolute;
  	top: 20%;
  	left: 30%;
	transform: translate(-50%, -50%);
}

.th {
    float: left;
    font-size: 0.914em;
    line-height: 1.172em;
    font-weight: bold;
    color: #999;
    padding: 0 0 0px;
    text-transform: uppercase; }

.td {
	width: 100%;
    padding: 20px 0 0 20px;
	float: left; }





.vertical_match {
    transform: rotate(0deg);
	background-color: rgba(213,212,217,1.00);
	margin-left: 2px;
	margin-top: 8px;
	margin-right: 10px;
}

.vertical_match_defeats {
    transform: rotate(0deg);
	background-color: rgba(213,212,217,0.50);
	margin-right: 20px;
	margin-top: 8px;
	font-size: 10.5;
	background-color: rgba(238,238,238,1.00);
}

.teams_groups{
	width: 100%;
	padding: 0 0 0 0px;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: 10px;
	padding-bottom: -10px;
	max-height: 50px;
	border-bottom: medium;
	height: 30px;
}

.teams .col1 {
    width: 4%;
	float: left;
	height: 45px;
	vertical-align: middle;
	position: relative;
}

.col1_matches {
    width: 4%;
	text-align: left;
	height: 50px;
	vertical-align: middle;
}

.col1_matches_nac {
    width: 4%;
	text-align: left;
	height: 20px;
}

.matches_score {
    width: 7%;
	text-align: center;
	height: 20px;
	margin-top: 8px;
}

.col1 .flag1 {
	max-height: 16px;
	float: left;
	margin-top: 5px;
}

.col1 .flag2 {
	max-height: 16px;
	float: left;
	margin-top: 5px;
}

.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        /*margin-bottom: 16px;*/
}

.col2_matches {
    width: 4%;
	left: 4%;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.teams .col3_matches {
    width: 4%;
	float: left;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.teams .col2 {
    width: 21%;
    float: left; 
height: 100%;
	font-weight: bold;
}

.teams .col3a {
    width: 15%;
    float: left; 
height: 100%;
}

.teams .col2 .text_player{
	top: 15px;
}

.teams_title .col3 {
    width: 22%;
    float: left; 
	vertical-align: middle;}

.teams_title .col1 {
    width: 4%;
	float: left;
	height: 20px;}

.teams_title .col2 {
    width: 21%;
    float: left; 
	vertical-align: middle;}

.teams .col3 {
    width: 22%;
	float: left;
	height: 45px;
	vertical-align: middle;
	position: relative;
}

.message{
    position: relative;
    max-width: 300px;
    float: left;
}

.card .club{
    position: relative;
    border-radius: 50%;
    height: 40px;
    margin: 0 auto 0;
    overflow: hidden;
    max-width: 40px;
}

.card .club img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
    padding: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}


.text_score{
	color: grey;
	font-weight: 400;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 10px;
	padding-top: 10px;

}

.text_club{
	color: grey;
	font-weight: 200;
	font-size-adjust: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 11px;
	text-transform: none;
	top: 12px;
	position: absolute;
}

.text_tournament_title{
	color: #DC4C46;
	font-weight: 200;
	font-size-adjust: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 12px;
	text-transform: none;
}

/* Lista de Torneos */

.text_tournament{
	color: grey;
	font-weight: 200;
	font-size-adjust: auto;
	font-size: 16px;
	margin: auto;
	vertical: middle;
	margin-top: 5px;
}
.tournament-list {
    /*background: rgba(241,241,241,0.7);*/
    border-right: thick solid #fff;
    /*margin-top: 8px;*/
    height: 80px;
    padding:0px;
}
.tournament-list:hover {
    background: white;
}
.tournament-list .title {
    margin-top: 16px;
}



.cuadro {
    width:100%;
    margin:0 0;
    text-align:center;
    padding:2em;
}

.cuadro ul{
    list-style:none;
}

.cuadro ul li{
    display:inline-block;
    width:auto;
    padding:.5em;
    margin:0 3.5em;
}

.cuadro ul li a{
    color:#000;
    display:block;
    padding:.5em 2em;
}

.cuadro ul li a:hover{
    border:2px solid blue;
}


/* BOOTSTRAP UPDATE */



.img-responsive {
	height: 500px;
}

.name-player{
	margin left: 50px;
	margin-top: 2px;
}


//
// VARIABLES
// ---------------------------
@breakpoint-xs: 24em;
@breakpoint-sm: 38em;
@breakpoint-md: 52em;
@breakpoint-lg: 72em;


//
// GENERAL RULES
// ---------------------------
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 15px;

  @media (min-width: @breakpoint-sm) { font-size: 14px; }
  @media (min-width: @breakpoint-md) { font-size: 15px; }
  @media (min-width: @breakpoint-lg) { font-size: 16px; }
}







.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


//
// TOURNAMENT BRACKET
// ---------------------------
.tournament-bracket {
  display: flex;
  flex-direction: column;

  @media (min-width: @breakpoint-sm) {
    flex-direction: row;
  }
}

.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  flex: 1;
}

.tournament-bracket__round-title {
  color: #9e9e9e;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}

.tournament-bracket__list {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  /*justify-content: center;*/
  /*height: 100%;*/
  min-height: 100%;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 2em;
  margin-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;

  @media (max-width: @breakpoint-xs) {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  @media (min-width: @breakpoint-sm) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-right: 1px dashed #e5e5e5;
    border-bottom: 0;
  }

  .tournament-bracket__round:last-child & {
    border: 0;
  }
}

.tournament-bracket__item {
  display: flex;
  flex: 0 1 auto;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  /*padding: 2% 0;*/
  width: 50%;
  transition: padding 0.2s linear;

  &:nth-child(odd) {
    margin-right: 2%;
  }

  &:nth-child(even) {
    margin-left: 2%;
  }

  &::after {
    transition: width 0.2s linear;
  }

  @media (max-width: @breakpoint-xs) {
    width: 100%;

    &:nth-child(odd),
    &:nth-child(even) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (min-width: @breakpoint-sm) {
    padding: 0.5em 1em;
    // flex-grow: 2;
    width: 100%;

    &:nth-child(odd),
    &:nth-child(even) {
      margin: 0;
    }

    &::after {
      position: absolute;
      right: 0;
      content: '';
      display: block;
      width: 1em;
      height: 45%;
      border-right: 2px solid #9e9e9e;
    }

    &:nth-child(odd)::after {
      top: 50%;
      border-top: 2px solid #9e9e9e;
      transform: translateY(-1px);

      .tournament-bracket--rounded & {
        border-top-right-radius: 0.6em;
      }
    }

    &:nth-child(even)::after {
      bottom: 50%;
      border-bottom: 2px solid #9e9e9e;
      transform: translateY(1px);

      .tournament-bracket--rounded & {
        border-bottom-right-radius: 0.6em;
      }
    }
    .tournament-bracket__round:first-child & {
       padding-left: 0;
    }
    .tournament-bracket__round:last-child & {
       padding-right: 0;

       &::after {
         display: none;
       }
    }

    .tournament-bracket__round:nth-last-child(2) & {
      &::after {
        border-radius: 0;
        border-right: 0;
      }
    }
  }

  @media (min-width: @breakpoint-lg) {
    padding: 0.5em 1.5em;

    &::after {
      width: 1.5em;
    }
  }
}


.tournament-bracket__match {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;

  &:focus {
    border-color: #2196F3;
  }

  &::before,
  &::after {
    transition: all 0.2s linear;
  }

  @media (max-width: @breakpoint-xs) {
    padding: 0.75em 0.5em;
  }

  @media (min-width: @breakpoint-sm) {
    &::before,
    &::after {
      position: absolute;
      left: 0;
      z-index: 1;
      content: '';
      display: block;
      width: 1em;
      height: 10%;
      border-left: 2px solid #9e9e9e;
    }

    &::before  {
      bottom: 50%;
      border-bottom: 2px solid #9e9e9e;
      transform: translate(0, 1px);

      .tournament-bracket--rounded & {
        border-bottom-left-radius: 0.6em;
      }
    }

    &::after  {
      top: 50%;
      border-top: 2px solid #9e9e9e;
      transform: translate(0, -1px);

      .tournament-bracket--rounded & {
        border-top-left-radius: 0.6em;
      }
    }
  }

  @media (min-width: @breakpoint-lg) {
    &::before,
    &::after {
      width: 1.5em;
    }

    &::before {
      transform: translate(0, 1px);
    }

    &::after {
      transform: translate(0, -1px);
    }
  }
}

.tournament-bracket__round:last-child .tournament-bracket__match {
  &::before,
  &::after {
    border-left: 0;
  }

  &::before  {
    border-bottom-left-radius: 0;
  }

  &::after  {
    display: none;
  }
}

.tournament-bracket__round:first-child .tournament-bracket__match {
  &::before,
  &::after {
    display: none;
  }
}

.tournament-bracket__content {
  display: flex;

  &::after {
    content: ':';
    width: 1em;
    text-align: center;
    padding: 0.2em 0.1em;

    @media (min-width: @breakpoint-sm) {
       order: 1;
    }
  }

  & .tournament-bracket__team:first-child {
    width: 50%;
    order: 0;
    text-align: right;

    @media (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
      align-items: flex-end;
    }

    & .tournament-bracket__country {
      order: 2;
      justify-content: flex-end;

      @media (min-width: @breakpoint-xs) {
        order: 0;
      }

      @media (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }

    & .tournament-bracket__score {
      order: 0;

      @media (min-width: @breakpoint-xs) {
         order: 2;
      }
    }
  }

  & .tournament-bracket__team:last-child {
    width: 50%;
    order: 2;
    text-align: left;

    @media (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
      align-items: flex-start;
    }

    & .tournament-bracket__country {
      @media (min-width: @breakpoint-sm) {
        justify-content: flex-start;
      }

      @media (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
        align-items: flex-start;
      }
    }

    .tournament-bracket__code {
      order: 1;
    }
  }
}


.tournament-bracket__table {
  width: 100%;
}

.tournament-bracket__caption {
  font-size: 0.8rem;
  color: #BDBDBD;
  font-weight: 300;
  padding-bottom: 0.75em;
}

.tournament-bracket__team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (min-width: @breakpoint-xs) {
    flex-direction: column-reverse;
  }

  @media (min-width: @breakpoint-sm) {
    flex-direction: column-reverse;
  }
}

.tournament-bracket__country {
  font-size: 0.95rem;
  display: flex;
  margin-top: 0.5em;
  align-items: center;

  @media (max-width: @breakpoint-xs) {
    margin-top: 0;
  }

  @media (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
    display: flex;
    flex-direction: column;

    .tournament-bracket__code {
      margin-top: 0.2em;
    }
  }
}

.tournament-bracket__code {
  padding: 0 0.5em;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  cursor: help;
  transition: padding 0.2s ease-in-out;

  @media (max-width: @breakpoint-xs) {
    padding: 0 0.25em;
  }

  @media (min-width: @breakpoint-sm) and (max-width: @breakpoint-md) {
    padding: 0;
  }
}

.tournament-bracket__score {
  display: flex;
  align-items: center;

  .tournament-bracket__team:first-child & {
    flex-direction: row-reverse;
    padding-left: 0.75em;
  }

  .tournament-bracket__team:last-child & {
    padding-right: 0.75em;
  }
}

.tournament-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: #F5F5F5;
  border-color: spin(shade(#F5F5F5, 10%), -10);

  .tournament-bracket__team--winner & {
    background-color: #FFF176;
    border-color: spin(shade(#FFF176, 2%), -10);
  }
}

.tournament-bracket__medal {
  padding: 0 0.5em;
}

.tournament-bracket__medal--gold {
  color: #FFD700;
}

.tournament-bracket__medal--silver {
  color: #C0C0C0;
}

.tournament-bracket__medal--bronze {
  color: #CD7F32;
}

.btn {
cursor: pointer;

}

  .btn-outline-primary,  .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    max-height: 25px;
    padding: -10px;
  }

.btn-outline-secondary {
  color: #brown;
}

.btn-outline-secondary:hover {
  background-color: #brown;
  border-color: #brown;
}


.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #brown;
}

.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #brown;
  border-color: #brown;
}

.btn-outline-warning {
  color: #20c997;
  border-color: #20c997;
  t
}

.btn-outline-warning:hover {
  background-color: #20c997;
  border-color: #20c997;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #20c997;
}

.btn-outline-warning:not([disabled]):not(.disabled):active, .btn-outline-warning:not([disabled]):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  background-color: #20c997;
  border-color: #20c997;
}

.btn-outline-light {
  color: e83e8c;
  border-color: e83e8c;
}

.btn-outline-light:hover {
  background-color: e83e8c;
  border-color: e83e8c;
  color: #fff;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: e83e8c;
}

.btn-outline-light:not([disabled]):not(.disabled):active, .btn-outline-light:not([disabled]):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  background-color: e83e8c;
  border-color: e83e8c;
}




/* min-width: 576px */

@media (min-width: 576px) {


.card .button_message.right {
margin-left: 5px;
margin-right: -5px
}

.card .button_message.left {
margin-left: -5px;
margin-right: 5px
}

.hidden576 {
display:none;
}

.col-sm-12 {
    flex: none;
}
}

/* max-width: 576px */

@media (max-width: 576px) {

.card .button_message.right {
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}

.hidden {
display: none;
}

.picture {
margin-right: 20px;
}

.teams {
height: 100px;
}

.card .button_message.left {
margin-left: 0px;
margin-right: 0px;
}

.card .user-tournamentlist img {
max-width: 50px;
}
}

/* min-width: 576px + max-width: 768px */
@media (min-width: 576px) and (max-width: 768px) {
 .teams{
	height: 64px;
}

.picture {margin-right: 0};

}



/* max-width: 768px */

@media (max-width: 768px) {

.flag {margin-left: -2px}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    float: right;
  }

.nopadding{
padding-left: 0px;
padding-right: 0px;
}


.card.semifinalK016 {
    margin-top:0px;
    margin-bottom: 0px;
}

.finalKO16title {
    margin-top: -160px;
    z-index: 20;
    right: 0;
}

.card.finalKO16 {
    margin-top:30px;
    border-color: #c7c7c7;
}

.card.cuartosK08 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card.semifinalK08 {
    margin-top:0px;
    margin-bottom: 0px;
}

.card.finalK08 {
    margin-top:0px;

}
.card.semifinalK04 {
    margin-top:0px;
    margin-bottom: 0px;
}

.card.finalK04 {
    margin-top:0px;

}

.card.finalK02 {
    margin-top:0px;

}

.card.match {
    margin-bottom: 10px;
}

.conector_final_up{
    display: none;
}

.conector_final_down{
    display: none;
}

.conector_up{
    display: none;
}

.conector_down{
    display: none;
}

separador_final {
margin: 20px 100px 0 100px;
thick:20px;
}

  .col-half {
    width: 100%;
    padding-right: 0;
  }


.conector_semifinal_down{
    display: none;
}



.card .user-tournamentlist img {
max-width: 60px;
margin-top: -12px;
}


  .card .user-tournamentlist{
    height: 45px;
    max-width: 40px;
}

.btn-t {
margin-top: 10px;
}



.hidden-sm-down{

  }

.tournament-list {
    height: 120px;
}

.margen {
    top:25px;
}



.card-container {
    margin: 0;
    padding: 0;
}



.card {
    margin-top: 1px;

}

.card button {
    height: 40px;
    /*margin-top: -10px;*/
}

.card .user-tournamentlist{
    top: -5px;
}

.categories {
    width: 270px;
    left: 50%;
    margin-left: -135px;
    padding: 0px;
   
}



input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
font-size: 14px;
}

.message{
    max-width: 150px;
    left: 50%;
    margin-left: -75px;
}

.message_text{
margin-top: 10px;
}


.separador {
margin: 0px 0px 0px 0px;
}

.text_tournament_title {
    font-size: 0.5rem;
  }

.text_club {
    font-size: 0.5rem;
    margin-top: 5px;
  }

}

/* min-width: 768px */

@media (min-width: 768px) {

.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    right:20px;
  }

.hidden-md-up{
  display: none;
  }

.margen {top:-3px;}

.cat {top:-3px;}

.message_text{
margin-top: 40px;
}

separador_final {
display: none;
}

.newplayer {
font-size: 1rem;
}

.tournament-list {
    height: 60px;
}
}

@media (min-width: 768px) and (max-width: 992px) {
.message{
    max-width: 240px;
    float: left;
}

.category_turnierliste{
  max-width: 30px;
    margin: 0 3px;
  }

.card button {
    height:36px;
}

.picture{margin-right: 8px;}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
font-size: 14px;
}
}


/* max-width: 992px */

@media (max-width: 992px) {


.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    max-height:25px;
    margin: 0px;
  }



btnanmeldung {
margin-top: 15px;
}

.btn {
    padding: 0.1rem 0.1rem;
    font-size: 0.75rem;
    max-height: 40px;
    margin-top: -5px;
  }

  .btn-t {
    padding: 0.1rem 0.1rem;
    font-size: 0.75rem;
    max-height: 40px;
  }

.card .user-tournamentlist{
    height: 30px;
    width: 50px;
}

.card .user-tournament{
    height: 40px;
    width: 40px;
}

.newplayer {
margin-top: 10px;
width: 200px;
left: 50%;
margin-left: -100px;
font-size: 1rem;
}

.text_tournament_title {
    font-size: 0.6rem;
  }

.category {
  max-width: 30px;
    margin: 0 3px;
  }



.card .club{
    border-radius: 5px;
    width: 30px;
    max-height: 30px;
}


 .text_club {
    font-size: 0.6rem;
    margin-top: -5px;
  }

.flag {
    width: 20px;
    margin-left: 5px;

}

.picture {
    max-height: 30px;
    max-width: 30px;
    margin-top: 5px;
}
}

/* min-width: 992px */

@media (min-width: 992px) {
.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    margin-top: 10px;
    float: left;
}
.tournament-list {
    height: 80px;
}

.category_turnierliste{
  max-width: 40px;
    margin: 0 3px;
  }

  .card .user-tournamentlist{
    height: 45px;
    max-width: 40px;
}

.newplayer {
margin-top: 10px;
width: 200px;
left: 50%;
margin-left: -100px;
font-size: 1rem;
}

}

/* Para pantallas grandes */

@media (min-width:992px) and (max-width: 1200px) {
.picture {
    margin-right: 5px;
}
}

/* Para pantallas super grandes */

@media (min-width: 1200px) {

}


