@charset "utf-8";
/* CSS Document */

/* -------------------- Common CSS -------------------- */

.btn {
font-size: 12px;
cursor: pointer;
}

.btn-outline-primary,  .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
max-height: 25px;
padding: -10px;
}

.btn-outline-secondary {
  color: #brown;
}

.btn-outline-secondary:hover {
  background-color: #brown;
  border-color: #brown;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #brown;
}

.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #brown;
  border-color: #brown;
}

.btn-outline-warning {
  color: #20c997;
  border-color: #20c997;
}

.btn-outline-warning:hover {
  background-color: #20c997;
  border-color: #20c997;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #20c997;
}

.btn-outline-warning:not([disabled]):not(.disabled):active, .btn-outline-warning:not([disabled]):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  background-color: #20c997;
  border-color: #20c997;
}

.btn-outline-light {
  color: e83e8c;
  border-color: e83e8c;
}

.btn-outline-light:hover {
  background-color: e83e8c;
  border-color: e83e8c;
  color: #fff;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: e83e8c;
}

.btn-outline-light:not([disabled]):not(.disabled):active, .btn-outline-light:not([disabled]):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  background-color: e83e8c;
  border-color: e83e8c;
}

.btn-form{
margin-top: 35px;
height: 50px;
}

.dos {
width: 16.67%;
}

.tres {
width: 25%;
}


/* -------------------- Header -------------------- */

.navbar-collapse {
border-style: none none solid none;
border-width: 1px;
border-color: #b7b7b7;
}


/* -------------------- Landing Page -------------------- */

.botones_landing {
padding:20px;
margin-top: 5px
}

.carousel-inner {
  overflow: unset;
  padding-bottom: 36px;
}

.news_landing{
margin: -60px 0 60px 0
}

.img_map{
max-width: 500px; margin-top:-30px; margin-left: -80px;
}

.img_landing_r{
max-width: 240px; margin-top:-30px
}

.img_landing{
max-width: 240px; margin-top:-30px
}


/* -------------------- Tournament Page -------------------- */

dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.group-standings table {
    float: left;
}

.group-standings td:first-child, .group-standings td:first-child {
    width: 120px;
    white-space: normal;
}

.group-standings td:first-child, .group-standings td:first-child a:hover{
    color: #DC4C46;
}

.group-standings td:first-child, .group-standings td:first-child a{
    color: grey;
    font-weight: 600;
}

.group-standings .group-name {
    font-size: 70px;
    vertical-align: bottom;
    color: white;
    background-color: #E1CAC9;
}

.group-standings td, .group-standings th {
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #bdc2ca;
    white-space: nowrap;
    text-align: center;
}

.group-standings td, .group-standings th4 group4 {
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #bdc2ca;
    white-space: nowrap;
}

.group-standings th {
    background: none;
}

.group-standings .group-name div, .group-standings .rotate div {
    position: relative;
    height: 100%;
}

.group-standings .rotate span {
    width: 200px;
    margin-bottom: 12px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -100px;
}

.group-standings .group-name .group-vertical, .group-standings .rotate .group-vertical {
    display: block;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg);
    color: grey;
}

.group-standings .group-name .group-vertical, .group-standings .rotate .group-vertical a:hover{
    color: #DC4C46;
}

.group-standings .group-name .group-vertical, .group-standings .rotate .group-vertical a{
    color: grey;
}

.group-standings .not-applicable {
    background: #f3f3f3;
    overflow: hidden;
    font-weight: 600;
}

.group-standings .group-name span {
    font-size: 23px;
    bottom: 36px;
}

.group-standings .group-name div {
    font-size: 54px;
    /*padding-left: 32px;*/
    line-height: 1;
    color: white;
        text-align: center;
}

.group-standings .rotate {
    height: 150px;
}

.table {
    border-collapse: collapse;
}

.table-big-light {
text-transform: uppercase;
    float: left;
}

.table-big-light th:first-child {
    text-align: left
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.result {
	border-color: #ededed; font-weight: bold; border-right: none; border-left: none; border-top: none; width: 33.33%;
}

.result:hover{
	background: #fafafa;
}


/* -------------------- Card-Player and Team -------------------- */

.bargraph {
list-style: none;
padding-top: 5px;
padding-bottom: 5px;
}

.card_team {
float: left;
padding:0px;
margin-top: 53px;
}

.card_info {
float: right;
padding-right: 0px;
}

ul.bargraph li {
height: 15px;
background: #DC4C46;
text-align: left;
font-style: italic;
font-weight:bolder;
font-size: 14px;
line-height: 35px;
margin-bottom: 5px;
}

.dot{
height: 50px;
width: 50px;
background-color: #DC4C46;
border-radius: 50%;
display: inline-block;
justify-content: center;
}


/* -------------------- Tournament List -------------------- */

.card ..user-tournamentlist{
    position: relative;
    height: 70px;
    width: 70px;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    margin: -10px 0 0 0;
}

.card .user-tournamentlist img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    max-width: 85%;
    padding: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.card .user-tournament img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    max-width: 85%;
    padding: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}


.single-chart {
width: 49%;
justify-content: space-around;
margin-top: -95px;}

.circular-chart {
margin: 0;
max-width: 100%;
max-height: 70px;
width: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 5;
}

.circle-sm {
  fill: #DC4C46;
  stroke: #eee;
  stroke-width: 5;
}

.circle {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.red .circle {
  stroke: #DC4C46;
}

.percentage {
  fill: black;
  font-size: 0.5em;
  text-anchor: middle;
}

/* Etiquetas de categorías */

.label {
    color: white;
    padding: 4px 0px;
	margin-right: 8px;
	text-align: center;
	font-size: 12px;
	cursor:pointer;
}
.label,a:hover { text-decoration: none }

.men {background-color: #2196F3} /* blue */
.women {background-color: #FF9292}/* pink */
.senior {background-color: #e7e7e7} /* grey */
.junior {background-color: #ff9800} /* blue */
.mixed {background-color: #ccc} /* grey */
.info {background-color: #bbb} /* grey */

.label.matches {
    color: grey;
	margin: 8px;
	text-align: center;
	font-size: 12px;
	cursor:pointer;
}

button.accordion {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: thin;
	margin-top: 5px;
    outline: none;
    transition: 0.4s;
	text-transform: uppercase;
}

.card .button_message {
margin-top: 20px;
margin-bottom: 20px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ededed;
}

.active {
    border: none;
    border-bottom: none;
    color: #DC4C46;
	max-height: 100%;
}

.panel {
    width: 100%;
	height: inherit;
	position: relative;
	overflow: hidden;
    transition: 0.2s ease-out; 
	margin-top: px;
}

ul { padding: 0; margin: 0; list-style: none;
}

.accordion:after {
    font-size: 20px;
    color: black;
    float: right;
    margin-left: 5px;
}

.activador{
	float: right; 
	height: 20px;
	}


.teams_title{
	width: 100%;
	padding: 0 0 10px 0px;
	vertical-align: middle;
	float: left;
}

.teams_title .col1 {
    width: 4%;
	float: left;
	height: 20px;
	}

.teams_title .col2 {
    width: 21%;
    float: left; 
	vertical-align: middle;
	}

.teams_title .col3 {
    width: 22%;
    float: left; 
	vertical-align: middle;
	}

.teams{
	width: 100%;
	vertical-align: middle;
	float: left;
	height: 52px;
	border-bottom: medium;
}

.teams:hover{
	background: #fafafa;
}

.hr{
 margin-top: 0px;
 margin-bottom: 5px;
 padding-left: -40px;
 border-top: 1px solid rgba(238,238,238,1.00);
}

.flag {
    width: 25px;
	position: absolute;
	vertical-align: middle;
	margin-top: 15px;
	margin-left: 10px;
}

.picture {
	border-radius: 50%;
	width: 100%;
	border-radius: 150px;
	max-height: 40px;
	max-width: 40px;
	float: right;
	margin-right: 8px;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.turnier {
padding: 10 8 10 8;
margin-top: 0px;
}

.text_player{
	width: 50%;
	color: grey;
	font-weight: 200;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 12px;
	text-transform: none;
	top: 15px;
}

.text_player_played{
	color: grey;
	font-weight: 200;
	font-size-adjust: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 11px;
	text-transform: none;
	top: 12px;
	position: absolute;
}

.line1 {
	position:absolute;
	background:pink;
	height:20%;
	width:1%;
	right:25%;
	bottom:0;
}

.line2 {
	position:absolute;
	background:rgba(0,135,230,0.60);
	height:20%;
	width:1%;
	right:22%;
	bottom:0;
}

.line3 {
	position:absolute;
	background:pink;
	height:20%;
	width:1%;
	right:19%;
	bottom:0;
}

.line4 {
	position:absolute;
	background:rgba(0,135,230,0.60);
	height:20%;
	width:1%;
	right:16%;
	bottom:0;
}

.line5 {
	position:absolute;
	background:pink;
	height:20%;
	width:1%;
	right:13%;
	bottom:0;
}

.line6 {
	position:absolute;
	background:rgba(0,135,230,0.60);
	height:20%;
	width:1%;
	right:10%;
	bottom:0;
}

.category_setcard {
	width: 40px;
	padding-top: 10px;
}

.activador:active {
	float: right; 
	height: 24px; 
}

.logo_setcard {
	max-height: 25px;
	position: absolute;
  	top: 20%;
  	left: 30%;
	transform: translate(-50%, -50%);
}

.th {
    float: left;
    font-size: 0.914em;
    line-height: 1.172em;
    font-weight: bold;
    color: #999;
    padding: 0 0 0px;
    text-transform: uppercase; }

.td {
	width: 100%;
    padding: 20px 0 0 20px;
	float: left; }

.vertical_match {
    transform: rotate(0deg);
	background-color: rgba(213,212,217,1.00);
	margin-left: 2px;
	margin-top: 8px;
	margin-right: 10px;
}

.vertical_match_defeats {
    transform: rotate(0deg);
	background-color: rgba(213,212,217,0.50);
	margin-right: 20px;
	margin-top: 8px;
	font-size: 10.5;
	background-color: rgba(238,238,238,1.00);
}

.teams_groups{
	width: 100%;
	padding: 0 0 0 0px;
	vertical-align: middle;
	margin-left: 15px;
	margin-top: 10px;
	padding-bottom: -10px;
	max-height: 50px;
	border-bottom: medium;
	height: 30px;
}

.teams .col1 {
    width: 4%;
	float: left;
	height: 45px;
	vertical-align: middle;
	position: relative;
}

.col1_matches {
    width: 4%;
	text-align: left;
	height: 50px;
	vertical-align: middle;
}

.col1_matches_nac {
    width: 4%;
	text-align: left;
	height: 20px;
}

.matches_score {
    width: 7%;
	text-align: center;
	height: 20px;
	margin-top: 8px;
}

.col1 .flag1 {
	max-height: 16px;
	float: left;
	margin-top: 5px;
}

.col1 .flag2 {
	max-height: 16px;
	float: left;
	margin-top: 5px;
}

.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
}

.col2_matches {
    width: 4%;
	left: 4%;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.teams .col3_matches {
    width: 4%;
	float: left;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.teams .col2 {
    width: 21%;
    float: left; 
height: 100%;
	font-weight: bold;
}

.teams .col3a {
    width: 15%;
    float: left; 
height: 100%;
}

.teams .col2 .text_player{
	top: 15px;
}

.teams_title .col3 {
    width: 22%;
    float: left; 
	vertical-align: middle;
	}

.teams_title .col1 {
    width: 4%;
	float: left;
	height: 20px;}

.teams_title .col2 {
    width: 21%;
    float: left; 
	vertical-align: middle;}

.teams .col3 {
    width: 22%;
	float: left;
	height: 45px;
	vertical-align: middle;
	position: relative;
}

.message{
    position: relative;
    max-width: 300px;
    float: left;
}

.card .club{
    position: relative;
    border-radius: 50%;
    height: 40px;
    margin: 0 auto 0;
    overflow: hidden;
    max-width: 40px;
}

.card .club img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
    padding: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.text_score{
	color: grey;
	font-weight: 400;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 10px;
	padding-top: 10px;
}

.text_club{
	color: grey;
	font-weight: 200;
	font-size-adjust: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 11px;
	text-transform: none;
	top: 12px;
	position: absolute;
}

.text_tournament_title{
	color: #DC4C46;
	font-weight: 200;
	font-size-adjust: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 12px;
	text-transform: none;
}

.text_tournament{
	color: grey;
	font-weight: 200;
	font-size-adjust: auto;
	font-size: 16px;
	margin: auto;
	vertical: middle;
	margin-top: 5px;
}
.tournament-list {
    border-right: thick solid #fff;
    height: 80px;
    padding:0px;
}
.tournament-list:hover {
    background: white;
}

.tournament-list .title {
    margin-top: 16px;
}

.cuadro {
    width:100%;
    margin:0 0;
    text-align:center;
    padding:2em;
}

.cuadro ul{
    list-style:none;
}

.cuadro ul li{
    display:inline-block;
    width:auto;
    padding:.5em;
    margin:0 3.5em;
}

.cuadro ul li a{
    color:#000;
    display:block;
    padding:.5em 2em;
}

.cuadro ul li a:hover{
    border:2px solid blue;
}

.img-responsive {
	height: 500px;
}

.name-player{
	margin left: 50px;
	margin-top: 2px;
}

@breakpoint-xs: 24em;
@breakpoint-sm: 38em;
@breakpoint-md: 52em;
@breakpoint-lg: 72em;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 15px;

@media (min-width: @breakpoint-sm) {
font-size: 14px;
}

@media (min-width: @breakpoint-md) {
font-size: 15px;
}

@media (min-width: @breakpoint-lg) {
font-size: 16px;
}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* ----------------------------- min-width: 992px ----------------------------- */

@media (min-width: 992px) {
.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    margin-top: 10px;
    float: left;
}
.tournament-list {
    height: 80px;
}

.picture {
    margin-right: 5px;
}

.category_turnierliste{
max-width: 40px;
margin: 0 3px;
}

.card .user-tournamentlist{
height: 45px;
max-width: 40px;
}

.newplayer {
margin-top: 10px;
width: 200px;
left: 50%;
margin-left: -100px;
font-size: 1rem;
}
}

/* ----------------------------- max-width: 992px ----------------------------- */

@media (max-width: 992px) {


.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
max-height:25px;
margin: 0px;
}

btnanmeldung {
margin-top: 15px;
}

.btn {
padding: 0.1rem 0.1rem;
font-size: 0.75rem;
max-height: 40px;
/*margin-top: -5px;*/
  }

.botones_landing {
padding: 8px;
}

  .btn-t {
    padding: 0.1rem 0.1rem;
    font-size: 0.75rem;
    max-height: 40px;
  }

.card .user-tournamentlist{
    height: 30px;
    width: 30px;
}

.card .user-tournament{
    height: 40px;
    width: 40px;
}

.newplayer {
margin-top: 10px;
width: 200px;
left: 50%;
margin-left: -100px;
font-size: 1rem;
}

.text_tournament_title {
    font-size: 0.6rem;
  }

.category {
  max-width: 30px;
    margin: 0 3px;
  }

.card .club{
    border-radius: 5px;
    width: 30px;
    max-height: 30px;
}

 .text_club {
    font-size: 0.6rem;
    margin-top: -5px;
  }

  .text_player_played{
	top: 15px;
	left: 10px;
	font-size: 0.6rem;
}

.flag {
    width: 20px;
    margin-left: 5px;
}

.picture {
    max-height: 30px;
    max-width: 30px;
    margin-top: 5px;
}
}

/* ----------------------------- min-width: 768px + max-width: 992px ----------------------------- */

@media (min-width: 768px) and (max-width: 992px) {

.message{
    max-width: 240px;
    float: left;
}

.text_tournament_title {
    margin-top: 0px
  }

.turnier {
padding: 10 8 0 8;
margin-top: 0px;
}

.img_landing_r{
max-width: 180px;
margin-left: 30px;
}

.img_landing{
max-width: 180px;
margin-left: 30px;
}

.img_map{
max-width: 350px; margin-top:-30px; margin-left: -50px;
}

.category_turnierliste{
  max-width: 30px;
    margin: 0 3px;
  }

.card button {
    height:36px;
}

.picture{margin-right: 8px;}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
font-size: 14px;
}
}

/* ----------------------------- min-width: 768px ----------------------------- */

@media (min-width: 768px) {

input[type="radio"] + label,
select {
  padding-left:3em;
  margin-top: -20px;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
    right:20px;
  }

.cat {
top:-3px;
font-size: 12px
}

.franja {
margin-left: 8px;
}

.hidden-md-up {
display: none;
}

.margen {
top:-3px;
}

.message_text{
margin-top: 40px;
}

.navbar-nav {
  padding-left: 8px;
  margin-bottom: 25px;
  padding-right: 8px;
}

.newplayer {
font-size: 1rem;
}

separador_final {
display: none;
}

.tournament-list {
    height: 60px;
}


}

/* ----------------------------- max-width: 768px ----------------------------- */

@media (max-width: 768px) {

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
font-size: 14px;
}

.btn-form{
margin-top: 30px;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-light, .btn-outline-dark{
float: right;
}

.btn-t {
margin-top: 10px;
}

.card {
margin-top: 1px;
}

.card button {
height: 40px;
margin-top: -10px
}

.card .user-tournamentlist{
height: 50px;
max-width: 40px;
top: -5px;
}

.card .user-tournamentlist img {
max-width: 50px;
margin-top: 0px;
}

.card.semifinalK016 {
margin-top:0px;
margin-bottom: 0px;
}

.card.finalKO16 {
margin-top:30px;
border-color: #c7c7c7;
}

.card.cuartosK08 {
margin-top: 0px;
margin-bottom: 0px;
}

.card.semifinalK08 {
margin-top:0px;
margin-bottom: 0px;
}

.card.finalK08 {
margin-top:0px;
}

.card.semifinalK04 {
margin-top:0px;
margin-bottom: 0px;
}

.card.finalK04 {
margin-top:0px;
}

.card.finalK02 {
margin-top:0px;
}

.card.match {
margin-bottom: 10px;
}

.card-container {
margin: 0;
padding: 0;
}

.card_team {
display: inline block;
margin-top: 0px;
}

.card_info {
padding-left:0px;
}

.cat {
font-size: 9px;
}

.categories {
width: 270px;
left: 50%;
margin-left: -135px;
padding: 0px;
}

.col-half {
width: 100%;
padding-right: 0;
}

.conector_semifinal_down{
display: none;
}

.conector_final_up{
display: none;
}

.conector_final_down{
display: none;
}

.conector_up{
display: none;
}

.conector_down{
display: none;
}

.finalKO16title {
margin-top: -160px;
z-index: 20;
right: 0;
}

.flag {
margin-left: -2px;
}

.jumbotron {
margin-top: -35px;
}

.margen {
top:25px;
}

.message{
max-width: 150px;
left: 50%;
margin-left: -75px;
}

.message_text{
margin-top: 10px;
}

.nopadding{
padding-left: 0px;
padding-right: 0px;
}

.separador {
margin: 0px 0px 0px 0px;
}

.separador_final {
margin: 20px 100px 0 100px;
thick:20px;
}

.sm-hidden {
display: none;
margin-left: -40px;
}

.text_club {
font-size: 0.5rem;
margin-top: -10px;
}

.tournament-list {
    height: 120px;
}
}

/* ----------------------------- min-width: 576px ----------------------------- */

@media (min-width: 576px) {

.card .button_message.right {
margin-left: 5px;
margin-right: -5px
}

.card .button_message.left {
margin-left: -5px;
margin-right: 5px
}

.hidden576 {
display:none;
}

.col-sm-12 {
flex: none;
}
}

/* ----------------------------- min-width: 576px + max-width: 768px ----------------------------- */

@media (min-width: 576px) and (max-width: 768px) {

.img_map{
max-width: 350px; margin-left: -50px; margin-top: -50px;
}

.img_landing{
max-width: 150px;
margin-top:-30px;
margin-left: 30px;
}

.img_landing_r{
max-width: 150px;
margin-top:-30px;
margin-left: 20px;
}

.picture {
margin-right: 0
}

.teams{
height: 64px;
}

.text_tournament_title {
font-size: 0.6rem;
margin-top: 0px
}
}


/* ----------------------------- max-width: 576px ----------------------------- */

@media (max-width: 576px) {

.uno {
width:5%;
}

.hidden {
display: none;
}

.card .user-tournamentlist{
height: 45px;
max-width: 40px;
}

.card .user-tournamentlist img {
max-width: 50px;
margin-top: -5px;
}

.card .button_message.right {
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}

.card .button_message.left {
margin-left: 0px;
margin-right: 0px;
}

form-content {
padding-left:0.5em;
}

.img_map{
max-width: 250px; margin-left: -45px; margin-top: 15px;
}

.img_landing{
max-width: 150px;
margin-top:-15px;
margin-left: 0px;
}

.img_landing_r{
max-width: 150px;
margin-top:-15px;
margin-left: 20px;
float: left;
}

.jumbotron {
height: 320px
}

.news_landing{
margin: -30px 0 0px 0
}

.picture {
margin-right: 20px;
}

.teams {
height: 100px;
}

.text_tournament_title {
font-size: 0.5rem;
margin-top: 0px
}
}





