@charset "utf-8";

.html {
min-height: 100%;
position: relative;
}

body {
margin: 0;
margin-bottom: 80px;
}

.page-footer {
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
    /*height: 70px;*/
    /*position: fixed;*/
}

.footer .p {
margin-bottom: 0px}

@media only screen and (max-width: 768px) {
.mb-0 {
text-align: center;
}

.page-footer {
display: none;
}
]