
.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}


.graph {
  height: 300px;
  width: 100%;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.red {
  fill: red;
  stroke-width: 1;
  padding: 15 15 15 15;
}

.red circle:hover {
  fill: black;
}

.yellow {
  fill: grey;
  stroke-width: 1;
}

.yellow circle:hover {
  fill: black;
}

/* ----------------------------- max-width: 992px ----------------------------- */

@media (max-width: 992px) {

.fit992 {
display:none}
}

@media (min-width: 992px) {

.fit768 {
display:none}
}

@media (min-width: 768px) {

.fit576 {
display:none}
}

@media (max-width: 768px) {

.fit768 {
display:none
}
}

@media (min-width: 576px) and (max-width: 768px) {

.graph {
left: 50%;
margin-left: -300px;
}
}

@media (max-width: 576px) {

.card {
display: block;
}

.graph {
  height: 300px;
  width: 500px;
  left: 50%;
margin-left: -280px;

}

.fit768 {
display:none
}

.fit992 {
display:none
}
}
