@charset "utf-8";

body {
  padding-top: 4.5rem;
}

.card-container, .front, .back {
	width: 100%;
	height: inherit;
}

.container_12 p 			{margin: 0; text-align: left; font-size: 16px; color: #aaa}
.clubs h2 			{margin: 0; text-align: left; font-size: 16px; color: #aaa}
.clubs h4 			{margin-top: 10px}

.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-poster {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        padding: 0px;
}
/* flip the pane when hovered */
.card-poster:not(.manual-flip):hover .card,
.card-poster.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-poster.static:hover .card,
.card-poster.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */



.clubs 						{box-shadow: 0 0 0 0 rgba(0,0,0,0.2); transition: 0.3s; margin-top: 0px; padding: 0px}
.clubs:hover 				{box-shadow: 0 0 0 0 rgba(0,0,0,0.2)}

.card .cover{
    height: 155px;
    overflow: hidden;
}
.card .cover img{
    width: 100%;
    -webkit-filter: grayscale(40%);
}

.card .user{
    position: relative;
    border-radius: 50%;
    height: 120px;
    margin: -10px auto 0;
    overflow: hidden;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
}

.card .user img{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    max-width: 85%;
    padding: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}

.card .user-t{
    position: relative;
    border-radius: 50%;
    height: 80px;
    margin: -10px auto 0;
    overflow: hidden;
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
}



.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 0 20px 10px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 200px;
}
.card .name {
    font-size: 15px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    padding: 0;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
	position: relative;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 10px;
    text-align: center;
	position: fixed;
	width:100%;
	bottom: 0px;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: -10px 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	margin-top: 50px;
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
	font-weight: 300;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
	height: 30px;
	display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-poster:not(.manual-flip):hover .back,
    .card-poster.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}




.
navbar-nav {padding-left: 8px; padding-right: 8px; margin-top: -25p}
.nav-link {text-transform: uppercase; vertical-align: middle}
.nav-link:hover {background-color: rgba(255,255,255,0.3)}


@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

.card .user{
    height: 70px;
    width: 70px;
}
.card .user img{
    max-width: 85%;
}



.card .name {
    font-size: 10px;
    line-height: 20px;
    width: 100%;
}


}
@media only screen and (max-width: 992px) {
.card .user-t{
    height: 60px;
    width: 60px;
    margin-top: -5px;
}}

@media only screen and (min-width: 768px) {
        .navbar-brand                                  { max-height: 40px; display: block; margin-left: 10px; margin-top: 5px; }
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto 										{  padding-right: 8px; padding-left: 8px; /* SEPARACION DE LAS TARJETAS DE LOS CLUBES */ }
		.topnav 									{  background-color: #DC4C46; overflow: hidden; margin-top: 8px; height: 52px; type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans";}
		.topnav .logo-fed 							{  width:100px; height: 100px; margin-top: -24px; margin-left: 12px; margin-right: 24px; background-color: white;  border-color: chartreuse; display: flex; justify-content: center; align-items: center;}
		.topnav .logo-fed img 						{ width: 80px; hight: 70px; }
		.topnav2									{  background-color: #DC4C46; overflow: hidden; margin-top: 8px; height: 52px; font-family: Arial Narrow, "sans-serif"; display: none}
}

@media only screen and (max-width: 768px) {
        .navbar-brand                                  	{ max-height: 30px; max-width: 300px; display: block; margin-left: 8px; margin-top: 5px; margin-bottom: 5px}
		.navbar-dark .navbar-toggler					{ max-height: 40px; max-width: 40px; float: right; margin-right: 8px; margin-top: -30px; border-color: none }
		.navbar-toggler-icon 							{ width: 1.2em; height: 1.2em; margin-left: -8px; margin-top: -6px; }
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto 											{ }
			.topnav2									{  background-color: #DC4C46; overflow: hidden; height: 52px; font-family: Arial Narrow, "sans-serif"; margin-top: -36px}
			.topnav2 .logo-fed 							{ position: relative; width:100px; height: 100px; margin-top: -24px; left: 50%; margin-left: -50px; margin-right: 24px; background-color: white; border: thick; border-color: chartreuse; display: flex; justify-content: center; align-items: center;}
			.topnav2 .logo-fed img 						{ width: 80px; hight: 70px; }
			.navb

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
color: black;
margin-top: 3px;
padding-left: 10px;
}

.navbar-nav {
margin-top: 100px;
width: 100%;
float: right;
margin-bottom: 100px;
}

.topnav .logo-fed img {
width: 100px;
left: 50%;
position: relative;
border: 1px solid rgba(0, 0, 0, 0.125);
margin-top: -435px;
margin-left: -50px;
}

.nav-link{
background-color: #ededed;
color: black;
height: 50px;
padding: 1rem;
}

.card .user{
    height: 90px;
    width: 90px;
}
.card .user img{
    max-width: 70%;
}
.card .name {
    font-size: 10px;
    line-height: 20px;
    width: 100%;
}

}


@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {

.card .user{
    height: 120px;
    width: 120px;
    margin:top: 20px;
}
.card .user img{
    max-width: 80%;
}
.card .name {
    font-size: 10px;
    line-height: 20px;
    width: 100%;

}
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }

        .card-poster:not(.manual-flip):hover .back,
    .card-poster.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container_12:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }


    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


