@charset "utf-8";

html, body {
  height: 100%;
}


#landing01 a {
margin-top: -40px;
}

.country_news{
max-width: 150px;
border-right: 1px solid #ededed;
left: 50%;
margin-left: -75px;
}

.demo a {
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.posters {
height: 650px;
}

#landing01 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    left: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    }

    #landing02 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    left: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    }

#landing03 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    left: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    }

#landing04 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    left: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    }

    #landing05 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    left: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    }

        #landing06 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    left: 8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    }

#landing07 a span {
    position: absolute;
    top: -40px;
    width: 24px;
    height: 24px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
    }


    .scroll {
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    left: 50%;
    }

    .scroll2 {
    position: absolute;
    right: 10%;
    margin-top: -20px;
    }

    .scroll:hover {
    opacity: .5
    }



.carousel-indicators {
bottom: -30px;
}

.carousel-indicators li {
background-color: #dc3545;
}

.col-12 {
background-color: rgba(255,255,255,0,1);
min-height: none;
}

.cover_logo{
display: block;
margin: 10% auto 0 auto;
width: 30%
}

.cover_title{
font-size: 30px;
display: block;
margin: 0 auto 0 auto;
width: 100%
}

.news_bar {
  position: relative;
  display: -ms-flexbox;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
    transition: 0.1s;
border-radius: 0.0rem;
margin-bottom: 16px;
  -webkit-filter: grayscale(0%);
  height:inherit;
  width: 70%;
  margin: 70 auto 0 auto
}

.stats_icon {
color: #DC4C46;
font-size: 36px;
}

.stats_icon:hover{
color: black;
}



.stats_vertical_info {
text-transform: uppercase;
font-weight: 600px;
border-radius: 0px;
height: 80px;
font-size: 30px;
font-weight: 600;
float:right;
margin: -5 0 0 0;
background-color: rgba(255,255,255,0.7);
border: none;
color: #DC4C46}

.stats_vertical_info_btn {
text-transform: uppercase;
font-weight: 600px;
border-radius: 0px;
height: 80px;
font-size: 24px;
font-weight: 600;
float:right;
margin: -5 0 0 0;
background-color: rgba(255,255,255,0.7);
border: none;
color: #DC4C46;
max-height: 150px;
}


@media (max-width: 992px) {

.cover_logo{
width: 50%
}


.cover_title{
font-size: 24px;
width: 90%
}

.stats_vertical_info {
max-height: 70px;
font-size: 24px;
}

.stats_vertical_info_btn {
max-height: 100px;
font-size: 18px;
padding: 0;
}

.news_bar {
  width: 80%;
}
}


@media (min-width: 768px) and (max-width: 992px) {
.posters {
height: 540px;
}



.stats_vertical_logo {
background-color: rgba(255,255,255,0.7);
max-height: 50px;
}


.stats_icon {
    font-size: 30px;
    margin-top: 10px;
}
}



@media (min-width: 768px) {
.stats2 {
    display: none
}}

@media (min-width: 700px) and (max-width: 768px) {
.jumbotron {
height: 480px;
}

.posters {
height: 620px;
}
}

@media (max-width: 768px) {
.stats1 {
    display: none
}

.jumbotron {
margin-top: -35px;
height: 480px;
}

.posters {
height: 620px;
}

.scroll{
margin-top: -75px;
}

.scroll2{
left: 50%;
margin-left: -12px;
}


.news_bar {
  width: 95%;
  margin-top:150px;
}

.stats_vertical_logo {
background-color: rgba(255,255,255,0.7);
min-height: none;
}


.stats_vertical_info {
background-color: rgba(255,255,255,0.7);
}


.stats_icon {
    font-size: 20px;
    margin-top: 8px;
}



.datos{
padding-left: 0.5px;
padding-right: 0.5px;
}

.datos .stats_vertical_logo {
margin-bottom: 1px;

}



.datos .stats_vertical_info {
height: 60px;
max-height: none;
}


.stats_vertical_info_btn {
font-size: 14px;
max-height: 100px;
}

}


@media (max-width: 700px) {
.posters {
height: 550px;
}
}

@media (max-width: 576px) {
.cover_title{
font-size: 18px;
}
.cover_logo{
margin: 15% auto 0 auto;
}
.stats_vertical_info h2{
font-size: 12px
}

.jumbotron {
height: 400px;
}

.scroll{
margin-top: -60px;
}

.scroll2{
margin-top: -20px;
}

.posters {
height: 450px;
}


#landing01 a span {
    width: 18px;
    height: 18px;
    left: 10px;
    margin-top: 10px;
    }

#landing02 a span {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    left: 10px;
    }

#landing03 a span {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    left: 10px;
    }

#landing04 a span {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    left: 10px;
    }

#landing05 a span {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    }
}

@media (max-height: 700px) {
.news_bar {
  width: 95%;
  margin-top:100px;
}


.cover_logo{
margin: 10% auto 0 auto;
}
}

@media (min-width: 576px) and (max-height: 700px) {
.news_bar {
  width: 70%;
  margin-top:50px;
}
}

@media (min-width: 994px) and (max-height: 700px) {
.news_bar {
  margin-top:20px;

}
.stats_icon {
    font-size: 24px;
  margin-top:10px;
}
.stats_vertical_info{
font-size: 16px
  margin-top:-10px;}

.stats_vertical_info h2{
font-size: 16px
}

.cover_logo{
margin: 8% auto 0 auto;
width: 20%
}
.cover_title{
font-size: 20px;
}}


