.navbar-nav {padding-left: 8px; padding-right: 8px; margin-top: -25px}
.nav-link {text-transform: uppercase; vertical-align: middle}
.nav-link:hover {background-color: rgba(255,255,255,0.3)}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (min-width: 768px) {
        .navbar-brand                                  { max-height: 40px; display: block; margin-left: 10px; margin-top: 5px; }
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto 										{  padding-right: 8px; padding-left: 8px; }
		.topnav 									{  background-color: #DC4C46; overflow: hidden; margin-top: 8px; height: 52px; font-family: Arial Narrow, sans-serif}
		.topnav .logo-fed 							{  width:100px; height: 100px; margin-top: -24px; margin-left: 12px; margin-right: 24px; background-color: white;  border-color: chartreuse; display: flex; justify-content: center; align-items: center;}
		.topnav .logo-fed img 						{ width: 80px; hight: 70px; }
		.topnav2									{  background-color: red; overflow: hidden; margin-top: 8px; height: 52px; font-family: Arial Narrow, sans-serif; display: none}
}

@media only screen and (max-width: 767px) {
        .navbar-brand                                  	{ max-height: 30px; max-width: 300px; display: block; margin-left: 8px; margin-top: 5px; margin-bottom: 5px}
		.navbar-dark .navbar-toggler					{ max-height: 30px; max-width: 30px; float: right; margin-right: 8px; margin-top: -36px; border-color: #000 }
		.navbar-toggler-icon 							{ width: 1.0em; height: 1.0em; margin-left: -8px; margin-top: -6px; }
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto 											{ padding-right: 2px; padding-left: 2px; }
			.topnav2									{  background-color: red; overflow: hidden; height: 52px; font-family: Arial Narrow, sans-serif; margin-top: -36px}
			.topnav2 .logo-fed 							{ width:100px; height: 100px; margin-top: -24px; margin-left: 12px; margin-right: 24px; background-color: white; border: thick; border-color: chartreuse; display: flex; justify-content: center; align-items: center;}
			.topnav2 .logo-fed img 						{ width: 80px; hight: 70px; }
			.navb


}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
}





/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container_12:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }


    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


