@charset "utf-8";
/* CSS Document */

/* CSS Tabla Bootstrap */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

/* CSS Tabla Bootstrap */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}



.justify-center{
  justify-content: center;
}

.menu-icon {
  flex-grow: 1;
  padding: 0 58px;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
  z-index: 2;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.search-bar{
  padding: 0 10vw 0;
  margin: 20px 0 20px 0;
  
}

.search{
  border: 0;
  padding: 8px 20px;
  font-size: 18px;
  border: 1px solid #e7e7e7;
}



.nav {
  align-items: center;
  color: #040404;
  font-size: 22px;
  font-weight: 500;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 0 10vw;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
}

.menu-block{
  margin-left: -1px;
}

.menu-block,
.user-block {
  position: relative;
}

.pointer{
  cursor: pointer;
}

.user-container {
  padding: 10px 15px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  z-index: 2;
  overflow-x: hidden;
}

.user-border {
  height: 5px;
  flex-grow: 1;
  width: 100%;
  top: -8px;
  left: 0px;
  z-index: 3;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.user-menu {
  right: 0;
  top: -62px;
  z-index: 1;
}

.menu-link-icon {
  margin-right: 8px;
}

.menu-link-notification {
  border-radius: 100%;
  height: 16px;
  width: 16px;
  color: #FFFFFF;
  font-size: 10px;
  top: 8px;
  left: 13px;
  padding-right: 1px;
}

.dropup-icon,
.dropdown-icon {
  margin-left: 10px;
}

.bright-blue{
  background-color: #DC4C46;
}


.messages-notification {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  top: 14px;
  left: 5px;
}

.icon {
  width: 70px;
  height: 70px;
  padding: 22px;
}

.user-info {
  margin-left: 15px;
}

.user-username {
  font-size: 18px;
  font-weight: 500;
}

.user-score {
  font-size: 14px;
  color: #989898;
  font-weight: 300;
  margin-top: -3px;
}

.shadow{
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.wrap{
  flex-wrap: wrap;
}

.grow{
  flex-grow: 1;
}

.leaderboard {
  padding: 20px 0;
}

.leaderboard-header{
  border-radius: 4px 4px 0 0;
}

.footer-btn{
  padding: 8px 12px;
  margin: 0 15px;
  background-color: #FFF;
  border-radius: 4px;
  color: #DC4C46;
  border: 1px solid #3498db;
}

.leaderboard-footer{
  padding: 20px 3vw;
  background-color: #DC4C46;
  border: 1px solid #dd636f;
  color: #FFF;
}

.leaderboard-row{
  flex-grow: 1;
  background-color: #FFFFFF;
  padding: 3px 3vw;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

.row-caller{
  align-items: center;
}

.row-user{
}

.row-user--header{
}

.row-position{
  text-align: center;
}

.row-calls{
  text-align: right;
}


.leaderboard-header > .leaderboard-row:first-of-type {
  border-radius: 4px 4px 0 0 !important;
}

.leaderboard-header > .leaderboard-row{
  background-color: #DC4C46;
  color: #FFFFFF;
  border-left: 1px solid #dd636f;
  border-bottom: 1px solid #dd636f;
  border-right: 1px solid #dd636f;
}

.leaderboard-row:last-of-type {
  border-radius: 0 0 4px 4px;
}

.align-center{
  align-items: center;
}

.row-collapse{
  flex-grow: 1;
  justify-content: space-around;
}

.row-alt{
  background-color: #F2f2f2;
}

.row-button{
  padding: 12px 20px 10px 20px;
  color: #080808;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background-color: #FFFFFF;
}

.table-tab:hover,
.row-button:hover{
  background-color: #f2f2f2;
}

.row-button--active{
  border-right: 1px solid #dd636f;
  border-left: 1px solid #dd636f;
  border-top: 1px solid #dd636f;
}

.filter-row{
  padding: 0;
}

.table-tab{
  padding: 10px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background-color: #FFFFFF;
}

.filter-by{
  border-bottom: 1px solid #dd636f;
  background-color: rgba(0,0,0,0);
}

.row-button--active,
.tab-active{
  background-color: #DC4C46;
  color: #FFFFFF;
  border-left: 1px solid #dd636f;
  border-top: 1px solid #dd636f;
  border-right: 1px solid #dd636f;
}

.row-button--active:hover,
.tab-active:hover{
  background-color: #20add6;
}

.row--header{
  padding: 10px;
}

.row-rank--header,
.row-team--header,
.row-rank,
.row-team{
  width: 16.67%;
}

.avatar{
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.wordmark {
  height: 65px;
  margin: 8px 0;
  cursor: pointer;
}

.content{
  min-height: 100vh;
}








@media (max-width: 1050px) {
  .row-rank--header,
  .row-team--header{
    display: none;
  }
  
  .row-collapse{
    flex-direction: column;
  }
  
  .row-caller{
    margin-bottom: -37px;
    align-items: flex-start;
  }
  
  .row-rank,
  .row-team{
    width: 275px;
    padding-left: 90px;
    font-size: 12px;
  }
  
  .wordmark {
    height: 40px;
  }
  
  .nav {
    padding: 0 10vw;
  }
  
}

@media (max-width: 800px) {
  
  .row-button:last-of-type{
    border-right: 0;
  }
  
  .filter-by{
    flex-direction: column;
  }
  
  .table-tab {
    border-top: 1px solid #E2E2E2;
    border-left: 0px;
  }
 
  .tab-active {
    border-top: 1px solid #dd636f;
  }
  
  .row-button{
    flex-grow: 1;
    text-align: center;
  }
  
  .user-container {
    padding: 4px 15px;
  }
  .user-menu {
    top: -96px;
  }
  .dropdown-icon,
  .dropup-icon,
  .user-info {
    display: none;
  }
  .nav {
    height: 70px;
  }
  .menu-icon {
    height: 70px;
    width: 82px;
    padding: 23px;
  }
  .nav-link {
    border: 1px solid #E2E2E2;
    padding: 8px 25px;
  }
  .active-icon {
    background-color: #EEE;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
}

.animate-border {
  animation: animate-border 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

.remove-border {
  animation: remove-border 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes animate-border {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes remove-border {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.menu-slide-up {
  animation: menu-slide-up 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

.menu-slide-down {
  animation: menu-slide-down 0.3s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes menu-slide-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(144px);
  }
}

@keyframes menu-slide-up {
  0% {
    transform: translateY(144px);
  }
  100% {
    transform: translateY(0px);
  }
}