/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs,
.col-xs-auto, {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


@media only screen and (min-width: 1200px) {
        .container_12                                  { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
		
    }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
        .container_12                                  { position: relative; width: 992px; margin: 0 auto; padding: 0; }        
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
        .container_12                                  { position: relative; width: 768px; margin: 0 auto; padding: 0; }
}


@media only screen and (min-width: 768px) {
 h1, h2, h3, h4 	{}
 h1 			{padding-top: 12px; text-align: center; font-size: 24px; font-weight: 600;}
 h2 			{padding-top: 8px; padding-bottom: 8px; text-align: center; font-size: 20px; font-weight: 100;}
 h3 			{padding-top: 16px; padding-bottom: 8px; text-align: left; font-size: 16px; font-weight: 300; color: #aaa}
 h4 			{padding-top: 3px; padding-bottom: 3px; text-align: left; font-size: 16px; font-weight: 300; color: #000}
 h5 			{padding-top: 3px; padding-bottom: 3px; text-align: left; font-size: 12px; font-weight: 300; color: #aaa}
 h6 			{padding-top: 3px; padding-bottom: 3px; text-align: left; font-size: 10px; font-weight: 300; color: #000}
}


@media only screen and (max-width: 767px) {
 h1 			{padding-top: 12px; text-align: center; font-size: 24px; font-weight: 600;}
 h2 			{padding-top: 8px; padding-bottom: 8px; text-align: center; font-size: 20px; font-weight: 100;}
 h3 			{padding-top: 16px; padding-bottom: 8px; text-align: left; font-size: 16px; font-weight: 300; color: #aaa}
 h4 			{padding-top: 3px; padding-bottom: 3px; text-align: left; font-size: 16px; font-weight: 300; color: #000}
 h5 			{padding-top: 3px; padding-bottom: 3px; text-align: left; font-size: 12px; font-weight: 300; color: #aaa}
 h6 			{padding-top: 3px; padding-bottom: 3px; text-align: left; font-size: 10px; font-weight: 300; color: #000}
}
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
        .container_12                                  { position: relative; width: 100%; margin: 5px auto; padding: 0; }
}


@media only screen and (max-width: 575px) {
        .container_12                                  { position: relative; width: 100%; margin: 0 auto; padding: 0; }

/* Responsive XS - Copiado de Bootstrap.css y adaptado a de MD y SM a XS */
	
	.col-xs {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .col-xs-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xs-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xs-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xs-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xs-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xs-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xs-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xs-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xs-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xs-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .order-xs-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .order-xs-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .order-xs-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .order-xs-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .order-xs-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .order-xs-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .order-xs-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .order-xs-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .order-xs-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .order-xs-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .order-xs-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .order-xs-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .offset-xs-0 {
    margin-left: 0;
  }
  .offset-xs-1 {
    margin-left: 8.333333%;
  }
  .offset-xs-2 {
    margin-left: 16.666667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.333333%;
  }
  .offset-xs-5 {
    margin-left: 41.666667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.333333%;
  }
  .offset-xs-8 {
    margin-left: 66.666667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.333333%;
  }
  .offset-xs-11 {
    margin-left: 91.666667%;
  }
	
  .d-xs-none {
    display: none !important;
  }
  .d-xs-inline {
    display: inline !important;
  }
  .d-xs-inline-block {
    display: inline-block !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .d-xs-table {
    display: table !important;
  }
  .d-xs-table-row {
    display: table-row !important;
  }
  .d-xs-table-cell {
    display: table-cell !important;
  }
  .d-xs-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xs-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
	
  .float-xs-left {
    float: left !important;
  }
  .float-xs-right {
    float: right !important;
  }
  .float-xs-none {
    float: none !important;
  }
	
  .text-xs-left {
    text-align: left !important;
  }
  .text-xs-right {
    text-align: right !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
}

    





/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container_12:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }


    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


