{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>

{% endblock %}

{% block content %}
<div class="container_12" style="height: 100%; margin-bottom: -97.5px">
    <div class="card roll">
        <div class="box">
            <div><img class="col-sm-4 message" src="{% static 'images/error500.png' %}">
            </div>
            <div class="message_text col-md-8" style="float: left">
                <h1>{% trans "Ohh my God!" %}</h1>
                <h2>{% trans "Something went wrong!" %}</h2>
                <hr>
                <h1>ERROR 500</h1>
                <a href=" {% url 'tournament_signup' %}">
                    <button type="button" class="button_message left col-xs-12 col-sm-6 btn btn-outline-danger">
                        {% trans "Back to last site" %}
                    </button>
                </a>
                <a href="mailto: fragonser@gmail.com; paconte@gmail.com">
                    <button type="button" class="button_message right col-xs-12 col-sm-6 btn btn-outline-danger">
                        {% trans "Contact us" %}
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}