{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}"/>

{% endblock %}

{% block content %}

<div id="particles-js" class="background" style="z-index: -2">
      <div style="width: 100%; float: center; position: absolute">
          <div style="display: block">
              <img class="cover_logo" src="{% static 'images/logo01.png' %}"  alt="Padel Analytics">
          </div>
          <br><br>
            <div style="display: block">
              <h1 class="cover_title">
                   - {% trans "About us" %} -
              </h1>
          </div>
    </div>


</div>
</div>

<div class="container_12">
<br>
    <div style="display: block">
        <h1 style="font-size: 30px; display: block; margin: 32 auto 0 auto; width: 50%">
            {% trans "For Padeleros, By Padeleros" %}
        </h1>
    </div>
<br>
    <div style="display: block">
        <h1 style="font-size: 30px; display: block; margin: 32 auto 0 auto; width: 50%">
            {% trans "Our Mission" %}
        </h1><br>

                <h2 class="">{% trans "Recollecting Statistics was never simple. As Padel is now growing faster and faster,
                    there are federations or clubs which don't really have resources to collect all details of all the events taking
                    place in the country. Our goal is helping out those ones to make this task more affordable and keeping the data in a central
                    site, which can be visited by everyone" %}</h2>
    </div>
<br>
    <div style="display: block">
        <h1 style="font-size: 30px; display: block; margin: 32 auto 0 auto; width: 50%">
            {% trans "Become our Partner" %}
        </h1><br>

                <h2>{% trans "Do not hesitate to share your unique partnership ideas." %}</h2>
                <h2>{% trans "We are open to your suggestions for a successful Agency or Affiliate Partnership." %}</h2>
    </div>
<br>
    <div style="display: block">
        <h1 style="font-size: 30px; display: block; margin: 32 auto 0 auto; width: 50%">
            {% trans "Contact Us" %}
        </h1><br>

                <h2>{% trans "Do not hesitate to contact us for suggestions or if you find any mistake in the statistics" %}</h2>
                <h2>{% trans "We become the statistics directly from the events organisators and we are not responsible for the mistakes." %}</h2>
    </div>
<br>


</div>


<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>


{% endblock %}</title>
</head>
<body>

</body>
</html>