{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>

{% endblock %}

{% block content %}
<div class="container_12">
    <div class="card roll">
        <div class="box">
            <div><img class="col-sm-4 message" src="{% static 'images/invalid.png' %}">
            </div>
            <div class="message_text col-md-8" style="float: left">
                <h1>Das Aktivationslink ist leider ungültig</h1>
                <hr>
                <h2>Prüft eure Mail oder meldet euch noch mal als Team an.</h2>
                <h2>Vielleicht ist das Link abgelaufen.</h2>
                <a href=" {% url 'tournament_signup' %}">
                    <button type="button" class="button_message left col-xs-12 col-sm-6 btn btn-outline-danger"
                            >Zum Anmeldeformular
                    </button>
                </a>
                <a href=" {% url 'turnierliste' %}">
                    <button type="button" class="button_message right col-xs-12 col-sm-6 btn btn-outline-danger"
                            >Zur Turnierliste
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}