{% load staticfiles %}

<html lang="en">
<head>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/u/0/u0vjv1ua8u.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Padel Analytics</title>

    <!-- Bootstrap core CSS and others -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-top-fixed.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Arial Narrow" rel="stylesheet">
    {% block css %}

    {% endblock %}
</head>

<body>

<!--<header>
  <div class="container">
      <a href="#home" class="logo">Fixed Responsive Nav</a>
      <nav class="nav-collapse">
        <ul>
          <li class="menu-item active"><a href="#home">Home</a></li>
          <li class="menu-item"><a href="#about">About</a></li>
          <li class="menu-item"><a href="#projects">Projects</a></li>
          <li class="menu-item"><a href="#blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header> -->


<div class="navbar-expand-md navbar-dark fixed-top bg-white">
    <div class="container_12">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo01.png' %}" class="navbar-brand" alt="Padel Analytics">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
    </div>

    <div class="topnav" style="width: 100%">
        <div class="container_12">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'clubs' %}">Standorte
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'turnierliste' %}">Turnierliste
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'tournament_signup' %}">Anmeldung
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <div>
                    <a href="#" class="logo-fed">
                        <img src="{% static 'images/federations/germany_lines.png' %}" alt="DPV"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="topnav2">
    <div class="container_12">
        <div>
            <a href="X" class="logo-fed">
                <img src="{% static 'images/federations/germany_lines.png' %}" alt="Deutscher Padel Verband">
            </a>
        </div>
    </div>
</div>


{% block content %}{% endblock %}

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="left: 0px">

    <div style="background-color: #999;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center" style="margin-top: 20px">

                <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 text-center text-md-left mb-4 mb-md-0" style="margin-top:0px">
                        <h6 class="mb-0" style="font-size: 14px; color: #fff">Entdecke einen neuen Weg, Padel zu
                            genießen!</h6>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-4 footer-copyright text-center text-black-50 py-3"  style="margin-top:0px">
                        © 2018 Padel Analytics
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 text-center text-md-right" style="margin-top:0px" >

                        <!-- Facebook
                        <a class="fb-ic">
                            <i class="fa fa-facebook white-text mr-4" style="color: #fff"> </i>
                        </a>-->
                        <!-- Twitter
                        <a class="tw-ic">
                            <i class="fa fa-twitter white-text mr-4" style="color: #fff"> </i>
                        </a>
                        <!-- Google
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus white-text mr-4" style="color: #fff"> </i>
                        </a>
                        <!--Linkedin
                        <a class="li-ic">
                            <i class="fa fa-linkedin white-text mr-4" style="color: #fff"> </i>
                        </a>
                        <!--Instagram
                        <a class="ins-ic">
                            <i class="fa fa-instagram white-text" style="color: #fff"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                    </div>

                    <!-- Grid row-->
            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5" style="display: none">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text" style="margin-top: -15px">

                <!-- Grid column
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                  <!-- Content
                  <h6 class="text-uppercase font-weight-bold">Padel Analytics</h6>
                  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <!--<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links
                    <h6 class="text-uppercase font-weight-bold">Padel Analytics</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">Newsletter</a>
                    </p>
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">Karriere</a>
                    </p>
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">Kontakt</a>
                    </p>
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">Wunschliste</a>
                    </p>
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">FAQ</a>
                    </p>


                </div>
                <!-- Grid column

                <!-- Grid column
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links
                    <h6 class="text-uppercase font-weight-bold">Rechtliches</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">AGBs</a>
                    </p>
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">Impressum</a>
                    </p>
                    <p style="margin-bottom: 0px">
                        <a class="dark-grey-text" href="#!">Datenschutz</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p style="margin-bottom: 0px">
                        <i class="fa fa-home mr-3"></i> 10117, Berlin, Deutschland</p>
                    <p style="margin-bottom: 0px">
                        <i class="fa fa-envelope mr-3"></i> info@padelanalytics.de</p>
                    <p style="margin-bottom: 0px">
                        <i class="fa fa-phone mr-3"></i> + 49 1575 438 55 89</p>
                    <p style="margin-bottom: 0px">
                        <i class="fa fa-print mr-3"></i> + 49 1575 438 55 89</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->

        <!-- Copyright -->

</footer>
<!-- Footer -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block js %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://use.fontawesome.com/7cf8bc3e18.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125593817-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125593817-1');
</script>
{% endblock %}
</body>
</html>
