{% load staticfiles %}
{% load i18n %}

<html lang="en">
<head>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/u/0/u0vjv1ua8u.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Padel Analytics</title>

    <!-- Bootstrap core CSS and others -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-top-fixed.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    {% block css %}

    {% endblock %}
</head>

<body>

<!--<header>
  <div class="container">
      <a href="#home" class="logo">Fixed Responsive Nav</a>
      <nav class="nav-collapse">
        <ul>
          <li class="menu-item active"><a href="#home">Home</a></li>
          <li class="menu-item"><a href="#about">About</a></li>
          <li class="menu-item"><a href="#projects">Projects</a></li>
          <li class="menu-item"><a href="#blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header> -->


<div class="navbar-expand-md navbar-dark fixed-top bg-white">
    <div class="container_12">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo01.png' %}" class="navbar-brand" alt="Padel Analytics">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
    </div>

    <div class="topnav" style="width: 100%">
        <div class="container_12">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'clubs' %}">{% trans "Clubs" %}
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'tournaments' %}">{% trans "Tournaments" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="{% url 'tournament_signup' %}">{% trans "Tournament sign up" %}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ranking' %}">{% trans "Ranking" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <!--
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'new_player' %}">{% trans "License" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>-->
                </ul>
                <div>
                    <a href="#" class="logo-fed">
                        <img src="{% static 'images/federations/germany_lines.png' %}" alt="DPV"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="topnav2">
    <div class="container_12">
        <div>
            <a href="X" class="logo-fed">
                <img src="{% static 'images/federations/germany_lines.png' %}" alt="Deutscher Padel Verband">
            </a>
        </div>
    </div>
</div>


{% block content %}{% endblock %}

<!-- Footer -->
<div class="footer-copyright py-3 text-center" style="background-color: #adadad; margin-top:25px; bottom: 0">
    © 2019 Copyright
    <a>
      <strong style="color:white"> PadelAnalytics</strong>
    </a>
  </div><!-- Footer -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block js %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://use.fontawesome.com/7cf8bc3e18.js"></script>

{% if PADEL_GOOGLE_TRACK_ID %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125593817-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125593817-1');
</script>
{% endif %}

{% endblock %}
</body>
</html>
