{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>

{% endblock %}

{% block content %}

<div class="container_12">
    <div class="card roll">
        <h1>{% trans "Germany" %}</h1>
    </div>

        <!--<div class="row">

        <div style="margin: 15px auto -15px; text-align: center;">
            <button class="btn btn-light filter-button active" data-filter="all">Alle</button>
            <button class="btn btn-light filter-button" data-filter="spray">Baden-Württemberg</button>
            <button class="btn btn-light filter-button" data-filter="irrigation">Bayern</button>
            <button class="btn btn-light filter-button" data-filter="hdpe">Berlin</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Brandenburg</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Bremen</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Hamburg</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Hessen</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Mecklenburg-Vorpommern</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Niedersachsen</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">NRW</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Rheinland-Pfalz</button>
            <button class="btn btn-light filter-button" data-filter="sprinkle">Brandenburg</button>

        </div></div>
        <hr>-->

    <div style="display:flex; flex-wrap: wrap; margin-left: -8px; margin-right: -8px">
            {% for club in clubs %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-container"  style="margin-bottom: 16px">
                    <div class="card clubs" >
                        <div class="front">
                            <div class="cover">
                                <img src="{{ club.cover_photo.url }}">
                            </div>
                            <div class="user" style="background-color: white">
                                <img class="img" src="{{ club.logo.url }}">
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h2 class="name">{{club.name}}</h2>
                                    <h4 class="text-center"><i class="fa fa-map-marker fa-fw text-muted"></i> {{club.city}} ({{club.province}})</h4>
                                </div>
                                <div class="in_out">
                                    <h2 class="col-xs-6 col-sm-6 text-center" style="float:left">{{club.indoor_courts}}</h2>
                                    <h2 class="col-xs-6 col-sm-6 text-center" style="float:left">{{club.outdoor_courts}}</h2>
                                    <h4 class="col-xs-6 col-sm-6 text-center" style="float:left; margin-top: -5px">Indoor</h4>
                                    <h4 class="col-xs-6 col-sm-6 text-center" style="float:left; margin-top: -5px">Outdoor</h4>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Adresse</h4>
                                    <p><i class="col-xs-2 col-sm-2 fa fa-home"></i>{{club.address}}</p>
                                    <p><i class="col-xs-2 col-sm-2 fa fa-map"></i>{{club.postcode}} {{club.city}}, Deutschland</p>
                                    <hr>
                                    <h4 class="text-center">Kontakdaten</h4>
                                    <p><i class="col-xs-2 col-sm-2 fa fa-envelope-o"></i>{{club.email}}</p>
                                    <p><i class="col-xs-2 col-sm-2 fa fa-phone"></i>{{club.phone}}</p>
                                    <!-- <h4 class="text-center">weitere Angebote</h4>
                                    <p>Tennis</p>
                                    <p>Beach-Volley</p>
                                    <p>Fußball</p>
                                    <p>Handball</p>
                                    <p>Gastro</p>-->
                                </div>
                            </div>
                            <div class="footer">
                                <div class="social-links text-center">
                                    <a href="" class="facebook"><i
                                            class="fa fa-facebook fa-fw"></i></a>
                                    <a href="" class="google"><i
                                            class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            {% endfor %}
        </div>
</div>
{% endblock %}