{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/graph.css' %}"/>

{% endblock %}

{% block content %}

<div class="container_12">
    <div class="card roll">
        <h1>{% trans "Germany" %}</h1>
        <h2>{% trans "Clubs" %}</h2>

    </div>

    <div class="card fit992" style="margin-bottom: 16px">

        <svg style="margin-top:20px" version="1.2" class="col-sm-12 graph" aria-labelledby="title" role="img">

            <g class="grid x-grid" id="xGrid">
                <line x1="90" x2="90" y1="5" y2="410"></line>
            </g>
            <g class="grid y-grid" id="yGrid">
                <line x1="90" x2="1200" y1="410" y2="410"></line>
                <line x1="90" x2="1200" y1="10" y2="10"></line>
                <line x1="90" x2="1200" y1="50" y2="50"></line>
                <line x1="90" x2="1200" y1="90" y2="90"></line>
                <line x1="90" x2="1200" y1="130" y2="130"></line>
                <line x1="90" x2="1200" y1="170" y2="170"></line>
                <line x1="90" x2="1200" y1="210" y2="210"></line>
                <line x1="90" x2="1200" y1="250" y2="250"></line>
                <line x1="90" x2="1200" y1="290" y2="290"></line>
                <line x1="90" x2="1200" y1="330" y2="330"></line>
                <line x1="90" x2="1200" y1="370" y2="370"></line>
            </g>
            <g class="labels x-labels">
                <text x="100" y="430">2003</text>
                <text x="190" y="430">2011</text>
                <text x="280" y="430">2012</text>
                <text x="370" y="430">2013</text>
                <text x="460" y="430">2014</text>
                <text x="550" y="430">2015</text>
                <text x="640" y="430">2016</text>
                <text x="730" y="430">2017</text>
                <text x="820" y="430">2018</text>
                <text x="910" y="430">2019</text>
                <text x="500" y="460" class="label-title">{% trans "Year" %}</text>
            </g>
            <g class="labels y-labels">
                <text x="60" y="10">50</text>
                <text x="60" y="50">45</text>
                <text x="60" y="90">40</text>
                <text x="60" y="130">35</text>
                <text x="60" y="170">30</text>
                <text x="60" y="210">25</text>
                <text x="60" y="250">20</text>
                <text x="60" y="290">15</text>
                <text x="60" y="330">10</text>
                <text x="60" y="370">5</text>
                <text x="60" y="410">0</text>
                <g class="red">
                    <circle cx="20" cy="225" data-value="1" r="6"></circle>
                </g>
                <text x="35" y="250" class="label-title">{% trans "Clubs" %}</text>
                <g class="yellow">
                    <circle cx="20" cy="175" data-value="1" r="6"></circle>
                </g>
                <text x="35" y="200" class="label-title">{% trans "Courts" %}</text>

                <g class="red" data-setname="Clubs">
                    <circle cx="100" cy="402" data-value="1" r="6" aria-label="1 Court in 2003"></circle>
                    <circle cx="190" cy="378" data-value="4" r="6" aria-label="4 Courts in 2011"></circle>
                    <circle cx="280" cy="362" data-value="6" r="6"></circle>
                    <circle cx="370" cy="330" data-value="10" r="6"></circle>
                    <circle cx="460" cy="314" data-value="12" r="6"></circle>
                    <circle cx="550" cy="306" data-value="13" r="6"></circle>
                    <circle cx="640" cy="242" data-value="21" r="6"></circle>
                    <circle cx="730" cy="202" data-value="26" r="6"></circle>
                    <circle cx="820" cy="178" data-value="29" r="6"></circle>
                    <circle cx="910" cy="154" data-value="32" r="6"></circle>
                </g>

                                <polyline
                        fill="none"
                        stroke="grey"
                        stroke-width="1"
                        points="
100,402
190,378
280,362
370,330
460,314
550,306
640,242
730,202
820,178
910,154
"/>

                                <g class="yellow" data-setname="Clubs">
                    <circle cx="100" cy="402" data-value="1" r="6"></circle>
                    <circle cx="190" cy="370" data-value="5" r="6"></circle>
                    <circle cx="280" cy="346" data-value="8" r="6"></circle>
                    <circle cx="370" cy="266" data-value="18" r="6"></circle>
                    <circle cx="460" cy="242" data-value="21" r="6"></circle>
                    <circle cx="550" cy="234" data-value="22" r="6"></circle>
                    <circle cx="640" cy="130" data-value="35" r="6"></circle>
                    <circle cx="730" cy="82" data-value="41" r="6"></circle>
                    <circle cx="820" cy="34" data-value="47" r="6"></circle>
                    <circle cx="910" cy="10" data-value="50" r="6"></circle>
                </g>
                <polyline
                        fill="none"
                        stroke="grey"
                        stroke-width="1"
                        points="
100,402
190,370
280,346
370,266
460,242
550,234
640,130
730,82
820,34
910,10
"/>

        </svg>
    </div>


    <div style="display:flex; flex-wrap: wrap; margin-left: -8px; margin-right: -8px">
        {% for club in clubs %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-container" style="margin-bottom: 16px">
            <div class="card clubs">
                <div class="front">
                    <div class="cover">
                        <img src="{{ club.cover_photo.url }}">
                    </div>
                    <div class="user" style="background-color: white">
                        <img class="img" src="{{ club.logo.url }}">
                    </div>
                    <div class="content">
                        <div class="main">
                            <div style="height:40px"><h2 class="name">{{club.name}}</h2></div>
                            <div><h4 class="text-center"><i class="fa fa-map-marker fa-fw text-muted"></i> {{club.city}}
                                ({{club.province}})</h4></div>
                        </div>
                        <div class="in_out">
                            <h2 class="col-xs-6 col-sm-6 text-center" style="float:left">{{club.indoor_courts}}</h2>
                            <h2 class="col-xs-6 col-sm-6 text-center" style="float:left">{{club.outdoor_courts}}</h2>
                            <h4 class="col-xs-6 col-sm-6 text-center" style="float:left; margin-top: -5px">Indoor</h4>
                            <h4 class="col-xs-6 col-sm-6 text-center" style="float:left; margin-top: -5px">Outdoor</h4>
                        </div>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="content">
                        <div class="main">
                            <h4 class="text-center">Adresse</h4>
                            <p><i class="col-xs-2 col-sm-2 fa fa-home"></i>{{club.address}}</p>
                            <p><i class="col-xs-2 col-sm-2 fa fa-map"></i>{{club.postcode}} {{club.city}}, Deutschland
                            </p>
                            <hr>
                            <h4 class="text-center">Kontakdaten</h4>
                            <p><i class="col-xs-2 col-sm-2 fa fa-envelope-o"></i>{{club.email}}</p>
                            <p><i class="col-xs-2 col-sm-2 fa fa-phone"></i>{{club.phone}}</p>
                            <!-- <h4 class="text-center">weitere Angebote</h4>
                            <p>Tennis</p>
                            <p>Beach-Volley</p>
                            <p>Fußball</p>
                            <p>Handball</p>
                            <p>Gastro</p>-->
                        </div>
                    </div>
                    <div class="footer">
                        <div class="social-links text-center">
                            <a href="" class="facebook"><i
                                    class="fa fa-facebook fa-fw"></i></a>
                            <a href="" class="google"><i
                                    class="fa fa-google-plus fa-fw"></i></a>
                            <a href="" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                        </div>
                    </div>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        {% endfor %}
    </div>
</div>
{% endblock %}