<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

            <div style="display:flex; flex-wrap: wrap">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-container" style="height: 280px">
                    <div class="card clubs" style="height: 280px">
                        <div class="front"  style="max-height: 100%">
                            <div class="content" style="padding:0"><img class="news_posters"
                                                                        src="{% static 'images/posters/01.jpg' %}"
                                                                        alt="">
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back" style="max-height: 100%">
                            <!-- <div class="cover">
                                <img src="{{ club.cover_photo.url }}">
                            </div> -->
                            <div class="user" style="background-color: white; margin-top:50px">
                                <img class="img" src="{% static 'images/germany/clubs/worms.png' %}">
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h2 class="name">Pfrimmpark Arena</h2>
                                    <h3 class="name" style="font-size:12px; margin-top:-5px">Worms, Rheinland-Pfalz</h3>

                                    <!-- <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:15px">Plakat vergrößern
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Turnier
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Standort
                                    </button> -->
                                </div>

                            </div>

                        </div> <!-- end back panel -->

                    </div> <!-- end card -->
                </div> <!-- end card-container -->
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-container" style="height: 280px">
                    <div class="card clubs" style="height: 280px">
                        <div class="front" style="max-height: 100%">
                            <div class="content" style="padding:0"><img class="news_posters"
                                                                        src="{% static 'images/posters/02.jpg' %}"
                                                                        alt="">
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back" style="max-height: 100%">
                            <!-- <div class="cover">
                                <img src="{{ club.cover_photo.url }}">
                            </div> -->
                            <div class="user" style="background-color: white; margin-top:50px">
                                <img class="img" src="{% static 'images/germany/clubs/hahn.png' %}">
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h2 class="name">Sportcenter Hahn</h2>
                                    <h3 class="name" style="font-size:12px; margin-top:-5px"> Geretsried, Bayern</h3>

                                    <!-- <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:15px">Plakat vergrößern
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Turnier
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Standort
                                    </button> -->
                                </div>

                            </div>
                        </div> <!-- end back panel -->

                    </div> <!-- end card -->
                </div> <!-- end card-container -->
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-container" style="height: 280px">
                    <div class="card clubs" style="height: 280px">
                        <div class="front" style="max-height: 100%">
                            <div class="content" style="padding:0"><img class="news_posters"
                                                                        src="{% static 'images/posters/03.jpg' %}"
                                                                        alt="">
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back"  style="max-height: 100%">
                            <!-- <div class="cover">
                                <img src="{{ club.cover_photo.url }}">
                            </div> -->
                            <div class="user" style="background-color: white; margin-top:50px">
                                <img class="img" src="{% static 'images/germany/clubs/hamburg.png' %}">
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h2 class="name">Padel Condor</h2>
                                    <h3 class="name" style="font-size:12px; margin-top:-5px"> Hamburg, Hamburg</h3>

                                    <!-- <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:15px">Plakat vergrößern
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Turnier
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Standort
                                    </button> -->
                                </div>

                            </div>
                        </div> <!-- end back panel -->

                    </div> <!-- end card -->
                </div> <!-- end card-container -->
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-container" style="height: 280px">
                    <div class="card clubs" style="height: 280px">
                        <div class="front"  style="max-height: 100%">
                            <div class="content" style="padding:0"><img class="news_posters"
                                                                        src="{% static 'images/posters/04.jpg' %}"
                                                                        alt="">
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back" style="max-height: 100%">
                            <!-- <div class="cover">
                                <img src="{{ club.cover_photo.url }}">
                            </div> -->
                            <div class="user" style="background-color: white; margin-top:50px">
                                <img class="img" src="{% static 'images/germany/clubs/schwaigern.png' %}">
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h2 class="name">TC Schwaigern</h2>
                                    <h3 class="name" style="font-size:12px; margin-top:-5px">Schwaigern, Baden-Württemberg</h3>

                                    <!-- <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:15px">Plakat vergrößern
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Turnier
                                    </button>
                                    <button type="button"
                                            class="col-xs-12 col-sm-12 btn btn-outline-dark"
                                            style="padding: 0; margin-top:5px">Zum Standort
                                    </button> -->
                                </div>

                            </div>

                        </div> <!-- end back panel -->

                    </div> <!-- end card -->
                </div> <!-- end card-container -->


</body>
</html>