{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
{% endblock %}

{% block content %}
<div class="container_12">
    <div class="card roll">
        <div class="">
            <div><img class="col-md-4 message" src="{% static 'images/mail.png' %}">
            </div>
            <div class="col-md-8" style="float: left; margin-top: 20px">
                <h1>Neuer Spieler erfolgreich gespeichert</h1>
                <hr>
                <h2>Vielen Dank, deine Daten wurden erfolgreich gespeichert und du kannst dich jetzt für das Turnier anmelden.<br>
                </h2>
                <hr>
                <h2 href="{% url 'tournament_signup' %}">
                    <button type="button" class="button_message col-xs-12 col-sm-12 btn btn-outline-danger">Zur
                        Anmeldungsseite
                    </button>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
