{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
{% endblock %}

{% block content %}
<div class="container_12" style="height: 100%; margin-bottom: -97.5px">
    <div class="card roll">
        <div class="">
            <div><img class="col-md-4 message" src="{% static 'images/ok.png' %}">
            </div>
            <div class="col-md-8" style="float: left; margin-top: 20px">
                <h1>{% trans "New player successfully saved" %}</h1>
                <h2>{% trans "Now you can enjoy all German Padel Series tournaments" %}<br>
                <hr>
                <h1>{% trans "HAVE FUN!" %}</h1>
                <a href=" {% url 'turnierliste' %}">
                    <button type="button" class="button_message left col-xs-12 col-sm-6 btn btn-outline-danger">
                        {% trans "Visit Tournament calendar" %}
                    </button>
                </a>
                <a href=" {% url 'tournament_signup' %}">
                    <button type="button" class="button_message right col-xs-12 col-sm-6 btn btn-outline-danger">
                        {% trans "Sign up into a Tournament" %}
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
