{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
{% endblock %}

{% block content %}
<div style="margin-top: 50px" class="container_12">
    <div class="card">
        <h1>German Padel Series 2018</h1>
        <h2>Anmeldungsformular</h2>
    </div>

    <div class="card">
        <div class="box">
            <div class="col-xs-12 col-sm-9" style="float: right; z-index: 2">
                <div style="float: right; margin-right: 15px">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps100.jpg' %}" alt="GPS-100">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps250.jpg' %}" alt="GPS-250">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps500.jpg' %}" alt="GPS-500">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps1000.jpg' %}" alt="GPS-1000">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps1200.jpg' %}" alt="GPS-1200">
                    <img class="col_1 category" src="{% static 'images/kategorien/w-gps.jpg' %}" alt="GPS-Women">
                </div>
            </div>
        </div>
        <br>

        <form style="min-height: 500px; margin-top: 10px" method="post" action="">
            {% csrf_token %}
            <div class="box">
                <div class="col-xs-12 col-sm-6 col-md-12" style="float: left">

                    <h3>Personaldaten</h3>

                    <div class="col-sm-3 input-group input-group-icon"
                         style="float: left; padding:0px; padding-right: 4px">
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                        {{form.forename}}
                    </div>
                    <div class="col-sm-3 input-group input-group-icon col-half"
                         style="float: left; padding:0px; padding-left: 4px">
                        <div class="input-icon"><i class="fa fa-user-o"></i></div>
                        {{form.surname}}
                    </div>
                    <div class="col-sm-3 input-group input-group-icon"
                         style="padding-right:0px; float: left;">
                        <div class="input-icon"><i class="fa fa-vcard-o"></i></div>
                        {{form.birthplace}}
                    </div>
                    <div class="col-sm-3 input-group input-group-icon" style="float: left">
                        <div class="input-icon"><i class="fa fa-calendar"></i></div>
                        {{form.birthdate}}
                    </div>
                    <div class="col-sm-4 input-group input-group-icon" style="float: left; padding:0px">
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                        {{form.email}}
                    </div>
                    <div class="col-sm-2 input-group input-group-icon" style="padding-right: 0px; float: left"
                    ">
                    <div class="input-icon"><i class="fa fa-phone"></i></div>
                    {{form.phone}}
                </div>
                <div class="col-sm-3  input-group input-group-icon"
                     style="padding-right:0px">
                    <div class="input-icon"><i class="fa fa-home"></i></div>
                    {{form.city}}
                </div>
                <hr></hr>

                <h3 style="margin-top:10px">Verein- und Verbandsgehörigkeit</h3>

                <div class="col-sm-6 input-group input-group-icon" style="padding:0px">
                    <div class="input-icon"><i class="fa fa-shield"></i></div>
                    {{form.club}}
                </div>
                <div class="col-sm-6 input-group input-group-icon" style="padding:0px">
                    <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    {{form.email}}
                </div>
                <div class="col-sm-3 input-group input-group-icon" style="padding:0px">
                    <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    {{form.email}}
                </div>


                <hr>


                <h3 style="margin-top:10px">Bestätigung</h3>
                <div class="form-check">
                    <!--<input type="checkbox" class="form-check-input" id="id_policy_read">-->
                    {{form.policy_read}}
                    <label class="form-check-label" for="id_policy_read">
                        Hiermit akzeptieren wir die Anmelde- und Teilnahmebedingungen des DPV / Check
                        here if you accept these terms.
                    </label>
                </div>
            </div>
            <!-- OK -->
            <button input type="submit" class="col-xs-12 col-sm-2 btn btn-danger"
                    style="float: left; margin-bottom: 8px; margin-left: 8px">
                OK
            </button>
        </form>
    </div>
</div>
{% endblock %}


{% block js%}
<script type="text/javascript">
  $( function() {
    $("#id_birthdate").datepicker(
    {
      dateFormat: 'dd/mm/yy',
      firstDay: 1,
      minDate: "-90y",
      maxDate: "-5y",
      defaultDate: "-30y"
    });
  });

  $( function() {
    $("#id_birthdate_b").datepicker(
    {
      dateFormat: 'dd/mm/yy',
      firstDay: 1,
      minDate: "-90y",
      maxDate: "-5y",
      defaultDate: "-30y"
    });
  });




</script>
{% endblock %}