{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}"/>


{% endblock %}

{% block content %}


<div class="container_12">

    <!-- Título Página -->
    <div class="card roll">
        <h1>German Padel Series 2018</h1>
        <h2>Ranglisten</h2>
    </div>

    <div class="card" style="height:inherit">
        <div class="content">

            <div class="search-bar flex grow">
                <input class="search flex grow" placeholder="Namen, Standort, Rolle suchen..."/>
            </div>

            <div class="leaderboard flex column wrap">
                <div class="leaderboard-table flex column">
                    <div class="leaderboard-header flex column grow">

                        <div class="filter-by flex grow wrap">
                            <div class="time-filter flex grow">
                                <div class="row-button pointer row-button--active align-center">Herren</div>
                                <div class="row-button pointer align-center">Damen</div>
                                <div class="row-button pointer align-center">Senioren</div>
                                <div class="row-button pointer align-center">Junioren</div>
                                <div class="row-button pointer align-center">Nord</div>
                                <div class="row-button pointer align-center">West</div>
                                <div class="row-button pointer align-center">Süd</div>
                                <div class="row-button pointer align-center">Ost</div>
                            </div>
                            <div class="subject-filter flex grow">
                                <div class="table-tab pointer flex grow justify-center align-center tab-active">
                                    <svg class="menu-link-icon" fill="#FFFFFF" height="24" viewBox="0 0 24 24"
                                         width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                    </svg>
                                    Spieler
                                </div>
                                <div class="table-tab pointer flex grow justify-center align-center">
                                    <svg class="menu-link-icon" fill="#4a4a4a" height="24" viewBox="0 0 24 24"
                                         width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
                                    </svg>
                                    Standorte
                                </div>
                            </div>
                        </div>

                        <div class="leaderboard-row flex align-center row--header" style="border-radius: 0 !important;">
                            <div class="row-position col-sm-1" style="text-align: center">Position</div>
                            <div class="row-position col-sm-1">Land</div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"></div>
                                <div class="row-user--header col-sm-5">Spieler</div>
                                <div class="row-team--header col-sm-5">Standort</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">DPV Punkte</div>
                            <div class="row-calls col-sm-1" style="text-align: center">Turniere</div>
                            <div class="row-calls col-sm-1" style="text-align: center">Rolle</div>

                        </div>
                    </div>


                    <div class="leaderboard-body flex column grow">
                        <div class="leaderboard-row flex align-center row--header">
                            <div class="row-position col-sm-1" style="text-align: center">1</div>
                            <div class="row-position col-sm-1"><img class="flag1" src="{% static 'images/flags/32/Germany.png' %}">
                            </div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"><img class="avatar"
                                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/></div>
                                <div class="row-caller flex col-sm-5">

                                    <div class="row-user">Fran González</div>
                                </div>
                                <div class="row-team col-sm-5">Padel Club Berlin International e.V.</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">1567</div>
                            <div class="row-calls col-sm-1" style="text-align: center">7</div>
                            <div class="row-calls col-sm-1">Senior Ü45</div>
                        </div>
                        <div class="leaderboard-row flex align-center row--header">
                            <div class="row-position col-sm-1" style="text-align: center">1</div>
                            <div class="row-position col-sm-1"><img class="flag1" src="{% static 'images/flags/32/Germany.png' %}">
                            </div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"><img class="avatar"
                                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/></div>
                                <div class="row-caller flex col-sm-5">

                                    <div class="row-user">Fran González</div>
                                </div>
                                <div class="row-team col-sm-5">Padel Club Berlin International e.V.</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">1567</div>
                            <div class="row-calls col-sm-1" style="text-align: center">7</div>
                            <div class="row-calls col-sm-1">Senior Ü45</div>
                        </div>
                                                <div class="leaderboard-row flex align-center row--header">
                            <div class="row-position col-sm-1" style="text-align: center">1</div>
                            <div class="row-position col-sm-1"><img class="flag1" src="{% static 'images/flags/32/Germany.png' %}">
                            </div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"><img class="avatar"
                                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/></div>
                                <div class="row-caller flex col-sm-5">

                                    <div class="row-user">Fran González</div>
                                </div>
                                <div class="row-team col-sm-5">Padel Club Berlin International e.V.</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">1567</div>
                            <div class="row-calls col-sm-1" style="text-align: center">7</div>
                            <div class="row-calls col-sm-1">Senior Ü45</div>
                        </div>
                                                <div class="leaderboard-row flex align-center row--header">
                            <div class="row-position col-sm-1" style="text-align: center">1</div>
                            <div class="row-position col-sm-1"><img class="flag1" src="{% static 'images/flags/32/Germany.png' %}">
                            </div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"><img class="avatar"
                                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/></div>
                                <div class="row-caller flex col-sm-5">

                                    <div class="row-user">Fran González</div>
                                </div>
                                <div class="row-team col-sm-5">Padel Club Berlin International e.V.</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">1567</div>
                            <div class="row-calls col-sm-1" style="text-align: center">7</div>
                            <div class="row-calls col-sm-1">Senior Ü45</div>
                        </div>
                                                <div class="leaderboard-row flex align-center row--header">
                            <div class="row-position col-sm-1" style="text-align: center">1</div>
                            <div class="row-position col-sm-1"><img class="flag1" src="{% static 'images/flags/32/Germany.png' %}">
                            </div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"><img class="avatar"
                                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/></div>
                                <div class="row-caller flex col-sm-5">

                                    <div class="row-user">Fran González</div>
                                </div>
                                <div class="row-team col-sm-5">Padel Club Berlin International e.V.</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">1567</div>
                            <div class="row-calls col-sm-1" style="text-align: center">7</div>
                            <div class="row-calls col-sm-1">Senior Ü45</div>
                        </div>
                                                <div class="leaderboard-row flex align-center row--header">
                            <div class="row-position col-sm-1" style="text-align: center">1</div>
                            <div class="row-position col-sm-1"><img class="flag1" src="{% static 'images/flags/32/Germany.png' %}">
                            </div>
                            <div class="row-collapse flex align-center col-sm-6">
                                <div class="row-user--header col-sm-2"><img class="avatar"
                                         src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/></div>
                                <div class="row-caller flex col-sm-5">

                                    <div class="row-user">Fran González</div>
                                </div>
                                <div class="row-team col-sm-5">Padel Club Berlin International e.V.</div>
                            </div>
                            <div class="row-calls col-sm-2" style="text-align: center">1567</div>
                            <div class="row-calls col-sm-1" style="text-align: center">7</div>
                            <div class="row-calls col-sm-1">Senior Ü45</div>
                        </div>

                        <div class="leaderboard-footer flex align-center">
                            Seite 1 von 2 <a class="footer-btn pointer">Next</a> 25 of 37 items
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ranking.js"></script>

{% endblock %}
