{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}"/>

{% endblock %}

{% block content %}
<div class="container_12">

    <!-- Título Página -->
    <div class="card roll">
        <h1>{% trans "Germany" %}</h1>
        <h2>{% trans "Ranking" %}</h2>
    </div>

    <form class="form-inline" method="post" style="align: right; margin: 10 0 15 0">
        {% csrf_token %}
        <div class="col-xs-4 col-sm-3 col-md-3">
            <h3 class="form_title">{% trans "Year" %}</h3>
            <div class="input-group input-group-icon sm-hidden">
                <div class="input-icon"><i class="fa fa-calendar"></i></div>
            </div>
            <h3 class="form_title">{{form.date}}</h3>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">
            <h3 class="form_title">{% trans "Division" %}</h3>
            <div class="input-group input-group-icon sm-hidden">
                <div class="input-icon"><i class="fa fa-users"></i></div>
            </div>
            <h3 class="form_title">{{form.division}}</h3>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <button input type="submit" class="col-xs-12 col-sm-12 btn btn-danger btn-form"
                    style="float: left">
                <div class="input-icon"><i class="fa fa-search"></i>
                </div>
                {% trans "Submit" %}
            </button>
        </div>
    </form>

    <div class="card" style="min-height:600px">
        <table id="" class="col-sm-12 table table-striped table-hover" cellspacing="0">
            <thead>
            <tr>
                <th class="th-sm-1">{% trans "Rank" %}</th>
                <th class="th-sm">{% trans "Player" %}</th>
                <th class="th-sm">{% trans "Points" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for rk in ranking %}
            <tr class="table-hover">
                <td class="col-xs-1 col-sm-1 dos">{{forloop.counter}}</td>
                <td class="col-xs-1 col-sm-10  text_tournament_title" style="width: 50%; text-transform: uppercase; font-weight: 600">
                    <a style="color: #DC4C46" href="{% url 'player' rk.person.id %}">{{rk.person.first_name}} {{rk.person.last_name}}</a>
                </td>
                <td class="col-xs-1 col-sm-1 dos">{{rk.points}}</td>
            </tr>
            {% endfor %}</ol>
            </tbody>
        </table>
    </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% endblock %}



