{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
{% endblock %}

{% block content %}
<div class="container_12" style="height: 100%; margin-bottom: -97.5px">
    <div class="card roll">
        <div class="">
            <div><img class="col-md-4 message" src="{% static 'images/mail.png' %}">
            </div>
            <div class="col-md-8" style="float: left; margin-top: 20px">
                <h1>{% trans "Just one step more!" %}</h1>
                <hr>
                <h2>{% blocktrans %}We have sent an E-Mail to {{email_a}} and {{email_b}}{% endblocktrans %}<br>
                    {% trans "Please check your email inbox for the activation email after registration. If you cannot find the email check inside your SPAM." %}
                    <br>
                </h2>
                <hr>
                <h2>{% trans "Both players must confirm the activation link to register the team successfully." %}</h2>
                <a href=" {% url 'tournaments' %}">
                    <button type="button" class="button_message col-xs-12 col-sm-12 btn btn-outline-danger">
                        {% trans "Visit Tournament calendar" %}
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}