{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>

{% endblock %}

{% block content %}

<div style="margin-top: 50px" class="container_12">
    <div class="card">
        <h1>German Padel Series 2018</h1>
        <h2>Anmeldungsformular</h2>
    </div>

    <div class="card">
        <div class="box">
            <div class="col-xs-12 col-sm-9" style="float: right">
                <div style="float: right; margin-right: 15px">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps100.jpg' %}" alt="GPS-100">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps250.jpg' %}" alt="GPS-250">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps500.jpg' %}" alt="GPS-500">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps1000.jpg' %}" alt="GPS-1000">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps1200.jpg' %}" alt="GPS-1200">
                    <img class="col_1 category" src="{% static 'images/kategorien/w-gps.jpg' %}" alt="GPS-Women">
                </div>
            </div>
            <!--<a href="#">
                <button class="col-sm-3 col-xl-2">
                    <div>
                        <i class="col-3 fa fa-long-arrow-left"></i>
                        <ul class="col-9" style="float: right">TURNIERLISTE</ul>
                    </div>
                </button>
            </a>-->
        </div>
        <br>

        <form style="min-height: 500px; margin-top: -50px" method="post" action="{% url 'tournament_signup' %}">
            {% csrf_token %}
            <div class="dropdown col-12">
                <h3>Wähl ein Turnier aus</h3>
                <div class="input-group">
                    {{form.tournament|add_class:"form_tournament"}}
                </div>
            </div>

            <div clas="box">
                <div class="col-xs-12 col-md-6" style="float: left">
                    <div class="dropdown col-12">
                        <h3>Wähl ein Turnier aus</h3>
                        <div class="input-group">
                            {{form.player_a|add_class:"form_tournament"}}
                        </div>
                    </div>

                    <h3>Spieler 2</h3>
                    <div class="dropdown col-12">
                        <div class="input-group">
                            {{form.player_b|add_class:"form_tournament"}}
                        </div>
                    </div>


                <h3 style="margin-top:10px">Bestätigung</h3>
                <div class="form-check">
                    <!--<input type="checkbox" class="form-check-input" id="id_policy_read">-->
                    {{form.policy_read}}
                    <label class="form-check-label" for="id_policy_read">
                        Hiermit akzeptieren wir die Anmelde- und Teilnahmebedingungen des DPV / Check
                        here if you accept these terms.
                    </label>
                </div>
            </div>
            <!-- OK -->
            <button input type="submit" class="col-xs-12 col-sm-2 btn btn-danger"
                    style="float: left; margin-bottom: 8px; margin-left: 8px">
                OK
            </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block js%}
<script type="text/javascript">
  $( function() {
    $("#id_born_a").datepicker(
    {
      dateFormat: 'dd/mm/yy',
      firstDay: 1,
      minDate: "-90y",
      maxDate: "-5y",
      defaultDate: "-30y"
    });
  });

  $( function() {
    $("#id_born_b").datepicker(
    {
      dateFormat: 'dd/mm/yy',
      firstDay: 1,
      minDate: "-90y",
      maxDate: "-5y",
      defaultDate: "-30y"
    });
  });


</script>
{% endblock %}