{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
{% endblock %}

{% block content %}
<div class="container_12">
    <div class="card roll">
        <div class="box">
            <div><img class="col-sm-4 message" src="{% static 'images/ok.png' %}">
            </div>
            <div class="message_text col-md-8" style="float: left">
                <h1>{% trans "Player confirmed succesfully" %}</h1>
                <h2>{% trans "Both team members must click on the confirmation link in the e-mail to complete your sign up" %}</h2>

                <hr>
                <h1>{% trans "HAVE FUN!" %}</h1>
                <a href=" {% url 'turnierliste' %}">
                    <button type="button" class="button_message left col-xs-12 col-sm-6 btn btn-outline-danger">
                        {% trans "Visit Tournament calendar" %}
                    </button>
                </a>
                <a href=" {% url 'tournament' tournament_id %}">
                    <button type="button" class="button_message right col-xs-12 col-sm-6 btn btn-outline-danger">
                        {% trans "Visit the tournament site" %}
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}