{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>


{% endblock %}

{% block content %}

</div>
<div style="margin-top: 50px" class="container_12">
    <div class="card">
        <h1>German Padel Series 2018</h1>
        <h2>Turnierliste</h2>
    </div>

        <div class="row">
            <div style="margin: 15px auto -15px; float: left;">
                <button class="btn btn-light filter-button active" data-filter="all">Alle</button>
                <button class="btn btn-light filter-button" data-filter="men">Herren</button>
                <button class="btn btn-light filter-button" data-filter="women">Damen</button>
                <button class="btn btn-light filter-button" data-filter="mixed">Mixed</button>
                <button class="btn btn-light filter-button" data-filter="senior">Senioren</button>
                <button class="btn btn-light filter-button" data-filter="junior">Junioren</button>
            </div>
            <div style="margin: 15px auto -15px; float: right;">
                <button class="btn btn-light filter-button active" data-filter="all">Alle</button>
                <button class="btn btn-light filter-button" data-filter="men">GPS-100</button>
                <button class="btn btn-light filter-button" data-filter="women">GPS-250</button>
                <button class="btn btn-light filter-button" data-filter="mixed">GPS-500</button>
                <button class="btn btn-light filter-button" data-filter="senior">GPS-1000</button>
                <button class="btn btn-light filter-button" data-filter="junior">GPS-1200</button>
            </div>
        </div>
        <hr>

<!--<div class="card" style="background:none; border: none; box-shadow:none; margin-top: -65px">
        <div class="box">
            <div class="col-xs-12 col-sm-9" style="float: right">
                <div style="float: right; margin-right: 15px">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps100.jpg' %}" alt="GPS-100">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps250.jpg' %}" alt="GPS-250">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps500.jpg' %}" alt="GPS-500">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps1000.jpg' %}" alt="GPS-1000">
                    <img class="col_1 category" src="{% static 'images/kategorien/gps1200.jpg' %}" alt="GPS-1200">
                    <img class="col_1 category" src="{% static 'images/kategorien/w-gps.jpg' %}" alt="GPS-Women">
                </div>
            </div>
        </div></div>-->
    {% for tournament in tournaments %}
<div class="card">
        <div class="panel active">

            <ul>

                <li class="col-xs-12 tournament-list" style="float: left; padding-top: 20px;">

                    <!-- Logo Serie -->
                    <div class="col-xs-12 col-sm-2 col-md-1 hidden-sm-down" style="float: left">
                        <div style="float: left">
                            <img class="category" src="{% static tournament.serie_url %}" alt="GPS-500">
                        </div>
                    </div>

                    <!-- Serie, Ciudad y Fecha -->
                    <div class="col-xs-4 col-sm-3 col-md-3 col-bg-3" style="float: left">
                        <a href="{% url 'tournament' tournament.id %}" class="text_tournament_title"
                           style="width: 50%; text-transform: uppercase; font-weight: 400;">{{tournament.serie}} // {{tournament.city}}</a><br>
                        <a class="text_tournament_title"
                           style="width: 100%; font-weight: bold; color:black">{{tournament.date}}</a>
                    </div>


                    <!-- Categoria para grandes formatos-->
                    {% if tournament.category == "Herren A" or tournament.category == "Herren B" %}
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-12 col-sm-1 btn btn-outline-primary hidden-sm-down"
                                style="padding: 0">{{tournament.category}}
                        </button>
                    </a>
                    {% elif tournament.category == "Damen" %}
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-12 col-sm-1 btn btn-outline-light hidden-sm-down style=font-color:white"
                                style="padding: 0">{{tournament.category}}
                        </button>
                    </a>
                    {% elif tournament.category == "Senioren" %}
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-12 col-sm-1 btn btn-outline-dark hidden-sm-down"
                                style="padding: 0">{{tournament.category}}
                        </button>
                    </a>
                    {% elif tournament.category == "Mixed" %}
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-12 col-sm-1 btn btn-outline-warning hidden-sm-down"
                                style="padding: 0">{{tournament.category}}
                        </button>
                    </a>
                    {% elif tournament.category == "Junioren" %}
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-12 col-sm-1 btn btn-outline-secondary hidden-sm-down"
                                style="padding: 0">{{tournament.category}}
                        </button>
                    </a>
                    {% endif %}


                    <!-- Club -->
                    <div class="col-xs-6 col-sm-4 col-md-5 col-bg-4 col-lg-4" style="float: left">
                        <img class="club hidden-sm-down" style="border-radius: 15px; background-color: white"
                             src="{% static 'images/germany/clubs/walls.png' %}" alt="GPS-500">
                        <a class="text_tournament_title" style="padding-left:10px; text-transform: uppercase; color:black">{{tournament.club}}</a>
                    </div>

                    <!-- Categoria para pequenos formatos-->
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-2 col-sm-1 btn btn-outline-primary hidden-md-up"
                                style="padding: 0; float: right">
                            {{tournament.category}}
                        </button>
                    </a>

                    <!-- Anmeldung -->
                    {% if tournament.signup %}
                    <a href="{% url 'tournament_signup' tournament.id %}">
                        <button type="button" class="col-xs-12 col-md-1 col-bg-1 btn btn-danger margen"
                                style="float: right">
                            Anmeldung
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'tournament' tournament.id %}">
                        <button type="button" class="col-xs-12 col-md-1 col-bg-1 btn btn-outline-success margen"
                                style="float: right">
                            Ergebnisse
                        </button>
                    </a>
                    {% endif %}





                    <!-- <div>
                         <h2 class="col-sm-2 text_tournament" style="float:left; text-align: left">
                             {{tournament.date}}
                         </h2>
                         <h2 class="col-sm-2 text_tournament" style="float:left; text-align: left; font-weight: 600;">
                             {{tournament.serie}}
                         </h2>
                         <h2 class="col-sm-2 text_tournament" style="float:left; text-align: left; font-weight: 600;">
                             {{tournament.city}}
                         </h2>
                         <h2 class="col-sm-3 text_tournament" style="float:left; text-align: left">
                             {{tournament.club}}
                         </h2>
                         <a href="{% url 'tournament' tournament.id %}"
                            class="col-sm-1 label men" style="float:right; margin-top:7px">{{tournament.category}}
                         </a>
                     </div>-->
                </li>

            </ul>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
