{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
{% endblock %}

{% block content %}
<div style="margin-top: 100px" class="container_12">
{% for key, value in tournaments.items %}
    {{value.date}}
    {{value.serie}}
    {{value.city}}
    {% for category, value in value.categories.items %}
    {{category}} {{value}}
    {% endfor %}
{% endfor %}
</div>
{% endblock %}